@import "color";

$nhs-pensions-green 		: #009639;
$nhs-pensions-green-light 	: #5EC384;
$nhsuk-blue 				: #005EB8;
$nhsuk-white 				: #FFFFFF;
$light-blue 				: #2B8CC4;

$respondWidth: 48em;

@import "component/button";


// Header Swoosh
@media (min-width: 641px) {
	.nhs-bsa #nhs-global-header {
		background-image: url("/public/fic-assets/img/header-pension-services.svg");
	}
}


// Forms
.inline-form-groups .form-group {
    width: auto;
    margin-right: 1rem;
    clear: none;
}

.form-control-11-chars {
    width: 11em;
}

.form-control-4-chars {
    width: 10rem;
}


// Tables
table {
  margin-bottom: 2em;

  .cell-first {
    text-align: left;
  }

  &.two-halves {
    td, th {
      width: 50%;
    }
  }
  
  .cell-last {
    text-align: right;
  }

  .highlighted {
    td, th {
      background: $nhs-grey-4;
      //font-weight: bold;
    }
  }

  .total {
    th, td {
      background: $nhsuk-blue;
      color: $nhsuk-white;
      vertical-align: middle;
    }
  }

  .lede {
    margin: 0;
  }

  .centered-item {
    text-align: center;
  }

  .edit-row {
    td {
      text-align: right !important;
      border-bottom: none !important;
    }
  }
  
}


.hoverable-table {
  tr {
    transition: background-color 0.5s ease;
  }
  .hoverable {
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.stripped-table {

  tr:nth-child(even) {
    background-color: #fafafa;
  }
}

.wide-table {
  th {
    font-size: 1.5rem;
  }


  &.stack-table {
    @media (max-width: $respondWidth) {

      th {
        display: none;
      }
    }

  }
}

.data-table {
  th {
    padding: 10px 20px;
    border-bottom: 1px solid $nhs-grey-3;
    vertical-align: top;

    &.cell-last {
      padding-right: 0;
    }

    &.cell-first {
      padding-left: 0;
    }
  }

  tr {
    td {
      padding: 10px 20px;
      border-bottom: 1px solid $nhs-grey-3;
      vertical-align: middle;

      &.cell-last {
        padding-right: 0;
      }

      &.cell-first {
        padding-left: 0;
      }
    }

    &:nth-last-child(1){
      td, th {
        border-bottom: none;
      }
    }
  }

  @media (max-width: $respondWidth) {

    th, td {
      &.cell-last {
        padding-bottom: 25px;
      }

      &.cell-first {
        padding-top: 25px;
      }
    }
  }

  .edit-row {
    text-align: right;
    border-bottom: none;
  }
}

.bordered-table {
  border: 1px solid $nhs-grey-3;
}

.content-table {
  margin-bottom: 2em;

  th {
    padding: 10px 20px;
    border-bottom: 1px solid $nhs-grey-3;
  }

  tr {
    td {
      padding: 10px 20px;
      border-bottom: 1px solid $nhs-grey-3;
    }
  }

  .edit-row {
    text-align: right;
    border-bottom: none;
  }
}

.stack-table {

  th[colspan] {
    padding-top: 25px !important;
  }

  .cell-first {
    font-size: 1.5rem;

    p {
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
      font-weight: normal;
    }
  }

  @media (max-width: $respondWidth) {
    tr {
      td, th {
        display: block;
        border-bottom: none;

        &:not(.cell-first){
          padding-top: 0;
        }

        &:nth-last-child(1) {
          border-bottom: 1px solid $nhs-grey-3;
          padding-bottom: 10px;
        }

        text-align: left;
      }

      &.edit-row {
        td {
          padding-top: 10px;
        }
      }

    }

    &.center-on-stack {
      tr {
        th, td {
          text-align: center;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}



.pagination {
	border-top: 1px solid $nhs-grey-3;
	overflow: auto;

	.pagination-details {
		float: left;
	}

	.pagination-pages {
    	float: right;

    	li {
      		float: left;
    		padding-left: 10px;
		}
	}
}
