

#skiplink-container,
.prototype-warning,
.button,
.validation-summary,
.top-back-button,
.pagination-simple,
.not-for-print {
  display: none;
}

.page-break { display: block; page-break-before: always; }

body {
  padding: 20px;
  margin: 0;
  font-family: 'nta';
}

@mixin headings($from: 1, $to: 6){
  @for $i from $from through $to{
    h#{$i}{
      @content
    }
  }
}

@include headings(){
  padding-bottom: 10px;
}

td, th {
  padding: 5px !important;
  text-align: left !important;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;

  &:nth-last-child(1){
    border-right: none;
  }
}

tr {
  &:nth-last-child(1){
    td, th {
      border-bottom: none;
    }
  }
}

table {
  margin-bottom: 30px;
  width: 98%;
  border: 1px solid #000000;

  &.two-column {
    td {
      width: 50%;
    }
  }


  .monetary-value {
    text-align: right !important;
  }
}

#nhs-global-header {
  .header-logo {
    img {
      width: 200px !important;
    }
  }
}

.form-label {
  margin-bottom: 0;
}

.form-group,
fieldset {
  margin-bottom: 20px;
}

.nhsuk-box-highlight {
  background: transparent !important;
  color: #000000 !important;
  margin: 0 !important;
}
