{% extends "layout.html" %}

{% block page_title %}500 Internal Server Error - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="main-heading" class="heading-large">
                We're experiencing technical difficulties
            </h1>
            <div class="text">
                <p id="hint-text">Try again later.</p>
                <p>You can <a href="javascript:history.back();">go back</a> and try again or <a href="#">head to our homepage.</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
