{% extends "layout.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Summary</li>
{% endblock %}

{% block back %}
    {{ super() }}
    <a class="top-back-button back-to-previous" href="#">Back</a>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    <h1 class="heading-xlarge">Check your February 2017 contributions before submitting</h1>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-medium">Contribution details</h2>
            <table class="content-table stack-table two-column">
                <tbody>
                    <tr class="staffgps">
                        <td class="bold">Number of scheme members</td>
                        <td class="numeric">8</td>
                    </tr>
                    <tr>
                        <td class="bold">Total pensionable pay</td>
                        <td class="numeric">£250,000.00</td>
                    </tr>
                    <tr class="highlighted">
                        <td class="bold">Employee contributions</td>
                        <td class="numeric">£23,750.00</td>
                    </tr>
                    <tr class="highlighted">
                        <td class="bold">Employer contributions</td>
                        <td class="numeric">£35,750.00</td>
                    </tr>
                    <tr class="optional-added">
                        <td class="bold">Employee added years</td>
                        <td class="numeric">£1,780.00</td>
                    </tr>
                    <tr class="optional-additional">
                        <td class="bold">Additional pension amount</td>
                        <td class="numeric">£750.00</td>
                    </tr>
                    <tr class="optional-errbo">
                        <td class="bold">Early Retirement Reduction Buy Out (ERRBO)</td>
                        <td class="numeric">-</td>
                    </tr>
                    <tr>
                        <th colspan="2">Adjustments for <span class="get-cookie" data-cookie-name="adjustmentMonth">&nbsp;</span> <span class="get-cookie" data-cookie-name="adjustmentYear">&nbsp;</span></th>
                    </tr>
                    <tr class="highlighted">
                        <td>Employee contributions</td>
                        <td class="numeric">£10.00</td>
                    </tr>
                    <tr class="highlighted">
                        <td>Employer contributions</td>
                        <td class="numeric">£20.00</td>
                    </tr>
                     <tr class="optional-added">
                        <td>Employee added years</td>
                        <td class="numeric">&pound;30.00</td>
                    </tr>
                    <tr class="optional-additional">
                        <td>Additional pension amount</td>
                        <td class="numeric">&pound;40.00</td>
                    </tr>
                    <tr class="optional-errbo">
                        <td>Early Retirement Reduction Buy Out (ERRBO)</td>
                        <td class="numeric">&pound;50.00</td>
                    </tr>
                    <tr class="total">
                        <td class="bold">Total amount to be debited</td>
                        <td class="numeric"><strong>£59,500.00</strong></td>
                    </tr>
                    <tr class="not-for-print">
                        <td colspan="2"><a href="make-payment">change</a></td>
                    </tr>
                </tbody>
            </table>

            <!-- <table>
                <tbody>
                    <tr>
                        <td class="bold">Total pensionable pay</td>
                        <td class="numeric">£250,000.00</td>
                    </tr>
                    <tr>
                        <td class="bold">Employee contributions</td>
                        <td class="numeric">£23,750.00</td>
                    </tr>
                    <tr>
                        <td class="bold">Employer contributions</td>
                        <td class="numeric">£35,750.00</td>
                    </tr>
                    <tr>
                        <td class="bold">Employee added years</td>
                        <td class="numeric">£1,780.00</td>
                    </tr>
                    <tr>
                        <td class="bold">Additional pension amount</td>
                        <td class="numeric">£750.00</td>
                    </tr>
                    <tr>
                        <td class="bold">Early Retirement Reduction Buy Out (ERRBO)</td>
                        <td class="numeric">-</td>
                    </tr>
                    <tr>
                        <td class="bold">Total amount to be debited</td>
                        <td class="numeric">£59,500.00</td>
                    </tr>
                </tbody>
            </table> -->


            <h2 class="heading-medium">Make contribution</h2>
            <table class="content-table stack-table two-column">
                <tbody>
                    <tr>
                        <td class="bold">What month is this contribution for?</td>
                        <td>February 2017</td>
                    </tr>
                    <tr>
                        <td class="bold">When do you want to pay?</td>
                        <td>18 February 2017</td>
                    </tr>
                    <tr class="staffgps">
                        <td class="bold">Contribution payment</td>
                        <td>Staff</td>
                    </tr>
                    <tr class="not-for-print">
                        <td colspan="2"><a href="make-payment">change</a></td>
                    </tr>
                </tbody>
            </table>

            <!-- <table>
                <tbody>
                    <tr>
                        <td class="bold">What month is this contribution for?</td>
                        <td class="numeric">February 2017</td>
                    </tr>
                    <tr>
                        <td class="bold">When do you want to pay?</td>
                        <td class="numeric">18 February 2017</td>
                    </tr>
                </tbody>
            </table> -->

            <h2 class="heading-medium">Your contact details</h2>
            <table class="content-table stack-table two-column">
                <tbody>
                    <tr>
                        <td class="bold">Employing Authority (EA) code</td>
                        <td>EA9143</td>
                    </tr>
                    <tr>
                        <td class="bold">Account name</td>
                        <td>Marie Curie Cancer Care</td>
                    </tr>
                    <tr>
                        <td class="bold">Full name</td>
                        <td>Alison Moore</td>
                    </tr>
                    <tr>
                        <td class="bold">Contact number</td>
                        <td>01237 611 978</td>
                    </tr>
                    <tr>
                        <td class="bold">Email address</td>
                        <td>alison.moore@nhs.net</td>
                    </tr>
                </tbody>
            </table>

        <div class="demo-csv callout-box text">
            <h3 class="heading-medium">I understand that:</h3>

            <p>The amount shown is correct and that deductions have been made from member salaries as per the NHS Pension Scheme Regulations.</p>
        </div>
            <br>
            <a class="button" href="thank-you" role="button">Submit your contribution</a>

        </div>

        <!-- <div class="column-one-third">
            <p>Content</p>
        </div> -->

    </div>

    <div class="pagination-simple">
        <div class="back-link">
            <a href="contributions-and-payment" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Contributions details</span>
            </a>
        </div>
    </div>
            
</main>

{% endblock %}