{% extends "layout.html" %}

{% block page_title %}Employer account created - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Employer account created
            </h1>
            <div class="text">
                <p>The account for sam.jones@email.com was successfully created.</p>
            </div>
            <div class="form-group">
                <a class="button" href="admin-employer-create" role="button">Create another</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
