{% extends "layout.html" %}

{% block page_title %}February contribution taken - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <!-- <div class="form-group done-panel">
            <div class="column-full">
                <h1 id="completed" class="heading-large">You have successfully submitted your February 2017 contributions</h1>
                <h2 id="submitted" class="heading-medium">
                    <span>Next contribution is due on 17 March 2017</span>
                </h2>
            </div>
        </div> -->
        <div class="column-two-thirds">
            <div class="form-group">
                <h1 class="heading-large">February contribution taken</h1>
                <h2 class="heading-medium">Payment for this month was completed on 18th February 2017.</h2>
                <h2 class="heading-medium">Payment details</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Total pensionable pay</td>
                            <td class="numeric">£250,000.00</td>
                        </tr>
                        <tr>
                            <td>Employee contributions</td>
                            <td class="numeric">£23,750.00</td>
                        </tr>
                        <tr>
                            <td>Employer contributions</td>
                            <td class="numeric">£35,750.00</td>
                        </tr>
                        <tr>
                            <td class="bold">Total amount to be debited</td>
                            <td class="numeric">£59,500.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <h2 class="heading-medium">Make payment</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>What month is this contribution for?</td>
                            <td>February 2017</td>
                        </tr>
                        <tr>
                            <td>When do you want to pay?</td>
                            <td>18 February 2017</td>
                        </tr>
                        <tr class="staffgps">
                            <td>Contribution payment</td>
                            <td>Staff</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <h2 class="heading-medium">Your contact details</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Employing Authority (EA) code</td>
                            <td>EA9143</td>
                        </tr>
                        <tr>
                            <td>Account name</td>
                            <td>Marie Curie Cancer Care</td>
                        </tr>
                        <tr>
                            <td>Full name</td>
                            <td>Alison Moore</td>
                        </tr>
                        <tr>
                            <td>Contact number</td>
                            <td>01237 611 978</td>
                        </tr>
                        <tr>
                            <td>Email address</td>
                            <td>alison.moore@nhs.net</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="column-one-third">
            <ul class="list options-list">
                <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
            </ul>
        </div>
    </div>

    <!-- <div class="pagination-simple">
        <div>
            <a href="previous-payments" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Previous payments</span>
            </a>
        </div>
    </div> -->
    
</main>
{% endblock %}