{% extends "layout.html" %}

{% block page_title %}February 2017 contribution details - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Contributions and Payment</li>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    <div class="back-nav" role="navigation">
        <a class="top-back-button back-to-previous" href="#">Back</a>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div id="error-summary" class="error-summary display-none" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h1 class="error-summary-heading" id="error-summary-heading-example-1">
                    There was a problem with the email address and password combination
                </h1>
                <ul class="error-summary-list">
                    <li><a href="#email">Your email is not valid</a></li>
                    <li><a href="#password">Your password is not valid</a></li>
                </ul>
            </div>

            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">February 2017 contribution details</h1>
            </div>

            <form action="summary" method="get" class="form form-to-validate" id="contributions-and-payment" novalidate="novalidate">
                <div class="form-group currency-input staffgps">
                    <label class="form-label" for="no-of-scheme-members">Number of scheme members</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="no-of-scheme-members" name="no-of-scheme-members" type="text" aria-label="Enter number of scheme members" />
                    </div>
                </div>

                <div class="form-group currency-input">
                    <label class="form-label" for="total-pensionable-pay">Total pensionable pay</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="total-pensionable-pay" name="total-pensionable-pay" type="text" aria-label="Enter amount in pounds">
                    </div>
                </div>

                <div class="form-group currency-input">
                    <label class="form-label" for="employee-contributions">Employee contributions</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="employee-contributions" name="employee-contributions" type="text" aria-label="Enter amount in pounds">
                    </div>
                </div>

                <div class="form-group currency-input">
                    <label class="form-label" for="employer-contributions">Employer contributions</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="employer-contributions" name="employer-contributions" type="text" aria-label="Enter amount in pounds">
                    </div>
                </div>

                <div class="form-group currency-input">
                    <label class="form-label" for="employee-avcs">Employee added years</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="employee-avcs" name="employee-avcs" type="text" aria-label="Enter amount in pounds">
                    </div>
                </div>

                <div class="form-group currency-input">
                    <label class="form-label" for="additional-pension">Additional pension</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="additional-pension" name="additional-pension" type="text" aria-label="Enter amount in pounds">
                    </div>
                </div>

                <div class="form-group currency-input">
                    <label class="form-label" for="errbo">Early Retirement Reduction Buy Out (ERRBO)</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="errbo" name="errbo" type="text" aria-label="Enter amount in pounds">
                    </div>
                </div>

                <!-- Adjustments -->
                <fieldset>
                    <legend>Do you need to make an adjustment?</legend>
                    <div class="form-group inline">
                        <label class="block-label selection-button-radio" data-target="adjustment-for" for="add-outstanding-payments">
                            <input id="add-outstanding-payments" type="radio" name="outstanding-payments" value="Yes">
                            yes
                        </label>
                        <label class="block-label selection-button-radio" for="no-outstanding-payments">
                            <input id="no-outstanding-payments" type="radio" name="outstanding-payments" value="No" />
                            no
                        </label>
                    </div>
                    <div class="panel js-hidden" id="adjustment-for">
                        <div class="form-group">
                            <fieldset>
                                <legend>
                                    <span class="form-label-bold">When is this adjustment for?</span>
                                    <span class="form-hint">For example February 2018</span>
                                </legend>
                                <div class="form-date form-date-wide">
                                    <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                                    <div class="form-group form-group-month">
                                        <label class="form-label" for="adjustment-month">Month</label>
                                        <input class="form-control" id="adjustment-month" name="adjustment-month" type="text" maxlength="11" aria-label="Enter Month" />
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label class="form-label" for="adjustment-year">Year</label>
                                        <input class="form-control" id="adjustment-year" name="adjustment-year" type="text" aria-label="Enter Year" maxlength="4" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group currency-input">
                            <label class="form-label" for="employee-contributions-adjustment">Employee contributions</label>
                            <div class="currency-input__inner">
                                <span class="currency-input__inner__unit">£</span>
                                <input class="form-control form-control-1-3 validate-numeric" name="employee-contributions-adjustment" type="text" id="employee-contributions-adjustment" aria-label="Enter amount in pounds">
                            </div>
                        </div>
                        <div class="form-group currency-input">
                            <label class="form-label" for="employer-contributions-adjustment">Employer contributions</label>
                            <div class="currency-input__inner">
                                <span class="currency-input__inner__unit">£</span>
                                <input class="form-control form-control-1-3 validate-numeric" name="employer-contributions-adjustment" type="text" id="employer-contributions-adjustment" aria-label="Enter amount in pounds">
                            </div>
                        </div>
                        <div class="form-group currency-input">
                            <label class="form-label" for="employee-avcs-adjustment">Employee added years</label>
                            <div class="currency-input__inner">
                                <span class="currency-input__inner__unit">£</span>
                                <input class="form-control form-control-1-3 validate-numeric" name="employee-avcs-adjustment" type="text" id="employee-avcs-adjustment" aria-label="Enter amount in pounds">
                            </div>
                        </div>
                        <div class="form-group currency-input">
                            <label class="form-label" for="additional-pension-adjustment">Additional pension</label>
                            <div class="currency-input__inner">
                                <span class="currency-input__inner__unit">£</span>
                                <input class="form-control form-control-1-3 validate-numeric" name="additional-pension-adjustment" type="text" id="additional-pension-adjustment" aria-label="Enter amount in pounds">
                            </div>
                        </div>
                        <div class="form-group currency-input">
                            <label class="form-label" for="errbo-adjustment">Early Retirement Reduction Buy Out (ERRBO)</label>
                            <div class="currency-input__inner">
                                <span class="currency-input__inner__unit">£</span>
                                <input class="form-control form-control-1-3 validate-numeric" name="errbo-adjustment" type="text" id="errbo-adjustment" aria-label="Enter amount in pounds">
                            </div>
                        </div>
                    </div>  
                </fieldset>

                <div class="form-group currency-input">
                    <label class="form-label" for="total-amount-debited">Total amount to be debited</label>
                    <div class="currency-input__inner">
                        <span class="currency-input__inner__unit">£</span>
                        <input class="form-control form-control-1-3 validate-numeric" id="total-amount-debited" name="total-amount-debited" type="text" aria-label="Enter amount in pounds">
                    </div>
                </div>

                <div class="form-group">
                    <button class="button">Next</a>
                </div>
            </form>

        </div>

        <!-- <div class="column-one-third">
            <p>Content</p>
        </div> -->
    </div>

    <!-- <div class="pagination-simple">
        <div>
            <a href="make-payment" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Schedule your contribution</span>
            </a>
        </div>
    </div> -->
</main>
{% endblock %}