{% extends "layout.html" %}

{% block page_title %}February 2017 contribution details - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary display-none" id="contributions-error-message" role="group" aria-labelledby="error-summary-heading-example-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    Some questions have not been answered correctly.
                </h1>
                <p id="contributions-error-text">Please see the errors below:</p>
                <ul class="error-summary-list">
                    <li class="staffgps"><a href="#no-of-scheme-members">Number of scheme members is required</a></li>
                    <li><a href="#total-pensionable-pay-label" id="contributions-error-list1">Total pensionable pay is required</a></li>
                    <li><a href="#employee-contributions-label" id="contributions-error-list2">Employee contributions is required</a></li>
                    <li><a href="#employer-contributions-label" id="contributions-error-list3">Employer contributions is required</a></li>
                    <li><a href="#adjustments-group" id="contributions-error-list8"><br>Adjustment period in format Month and Year is required</a></li>
                    <li><a href="#adjustments-group" id="contributions-error-list9">At least one value is required if adding adjustments</a></li>
                    <li><a id="contributions-error-list15" href="#total-amount-debited">Total amount is required</a></li>
                </ul>
            </div>
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                <span class="get-cookie" data-cookie-name="payingMonth">May</span>
                2017 payment details
                {# <span class="get-cookie" data-cookie-name="for">&nbsp;</span>
                <span class="get-cookie" data-cookie-name="eaCode">&nbsp;</span> #}
            </h1>

            <!-- {% include "includes/multiple-ea.html" %} -->
            
            <form action="summary" method="get" class="form form-to-validate" id="contributions-and-payment" novalidate="novalidate">
                <div class="form-group staffgps">
                    <label class="form-label" for="no-of-scheme-members">
                        <span class="error-message display-none" id="error-message-no-of-scheme-members">Amount you have entered is incorrect</span>
                        Number of scheme members
                    </label>
                    <input class="form-control form-control-1-3 validate-numeric" id="no-of-scheme-members" name="no-of-scheme-members" type="number" autocomplete="off" aria-required="true" required />
                </div>
                <div class="form-group currency-input">
                    <label for="total-pensionable-pay" id="total-pensionable-pay-label">
                        <span class="form-label">Total pensionable pay</span>
                        <span class="currency-input__unit">£</span>
                        <span class="error-message display-none" id="error-message-total-pensionable-pay">Amount you have entered is incorrect</span>
                    </label>
                    <input class="form-control form-control-1-3 validate-numeric" id="total-pensionable-pay" name="total-pensionable-pay" type="number" autocomplete="off" aria-required="true" required />
                </div>
                <div class="form-group currency-input">
                    <label class="form-label" for="employee-contributions" id="employee-contributions-label">
                        <span>Employee payments</span>
                        <span class="currency-input__unit">£</span>
                        <span class="error-message display-none" id="error-message-employee-contributions">Amount you have entered is incorrect</span>
                    </label>
                    <input class="form-control form-control-1-3 validate-numeric" id="employee-contributions" name="employee-contributions" type="number" autocomplete="off" aria-required="true" required />
                </div>
                <div class="form-group currency-input">
                    <label class="form-label" for="employer-contributions" id="employer-contributions-label">
                        <span>Employer payments</span>
                        <span class="currency-input__unit">£</span>
                        <span class="error-message display-none" id="error-message-employer-contributions">Amount you have entered is incorrect</span>
                    </label>
                    <input class="form-control form-control-1-3 validate-numeric" id="employer-contributions" name="employer-contributions" type="number" autocomplete="off" aria-required="true" required />
                </div>
                <div class="form-group currency-input">
                    <label class="form-label" for="employee-avcs">
                        <span>Employee added years (optional)</span>
                        <span class="currency-input__unit">£</span>
                    </label>
                    <input class="form-control form-control-1-3" id="employee-avcs" name="employee-avcs" type="number" autocomplete="off" />
                </div>
                <div class="form-group currency-input">
                    <label class="form-label" for="additional-pension">
                        <span>Additional pension (optional)</span>
                        <span class="currency-input__unit">£</span>
                    </label>
                    <input class="form-control form-control-1-3" id="additional-pension" name="additional-pension" type="number" autocomplete="off" />
                </div>
                <div class="form-group currency-input">
                    <label class="form-label" for="errbo">
                        <span>ERRBO (Early Retirement Reduction Buy Out) (optional)</span>
                        <span class="currency-input__unit">£</span>
                    </label>
                    <input class="form-control form-control-1-3" id="errbo" name="errbo" type="number" autocomplete="off" />
                </div>

                <!-- Adjustments -->
                <div class="form-group">
                    <fieldset class="inline">
                        <legend tabindex="-1">Are adjustments required?</legend>
                        <div class="multiple-choice" data-target="outstanding-payments-panel">
                            <input id="add-outstanding-payments" type="radio" name="outstanding-payments" value="Yes">
                            <label for="add-outstanding-payments">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="no-outstanding-payments" type="radio" name="outstanding-payments" value="No">
                            <label for="no-outstanding-payments">No</label>
                        </div>
                    </fieldset>
                </div>
                <div class="js-hidden" id="outstanding-payments-panel">
                    <div class="form-group">
                        <fieldset>
                            <legend tabindex="-1">
                                <span class="form-label-bold">Adjustment period</span>
                                <span class="form-hint">For example February 2018</span>
                                <span class="error-message display-none" id="adjustment-period-error">Adjustment period in format Month and Year is required</span>
                            </legend>
                            <div class="form-date form-date-wide">
                                <div class="form-group-month">
                                    <label class="form-label" for="adjustment-month">Month</label>
                                    <input class="form-control typeahead" id="adjustment-month" name="adjustment-month" type="text" maxlength="11" autocomplete="off" />
                                </div>
                                <div class="form-group-year">
                                    <label class="form-label" for="adjustment-year">Year</label>
                                    <input class="form-control validate-secondary-text-input" id="adjustment-year" name="adjustment-year" type="number" min="2001" autocomplete="off" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <legend class="form-label-bold" id="adjustment-form-label" tabindex="-1">
                                <span id="adjustment-label-text">Adjustment contribution details</span>
                                <span class="error-message display-none" id="adjustment-mandatory-error">At least one value is required if adding adjustments</span>
                            </legend>
                            <div class="form-group currency-input">
                                <label class="form-label" for="employee-contributions-adjustment">
                                    <span>Employee contributions</span>
                                    <span class="currency-input__unit">£</span>
                                </label>
                                <input class="form-control form-control-1-3 at-least-one" name="employee-contributions-adjustment" type="number" id="employee-contributions-adjustment" autocomplete="off" aria-required="true" />
                            </div>
                            <div class="form-group currency-input">
                                <label class="form-label" for="employer-contributions-adjustment">
                                    <span>Employer contributions</span>
                                    <span class="currency-input__unit">£</span>
                                </label>
                                <input class="form-control form-control-1-3 at-least-one" name="employer-contributions-adjustment" type="number" id="employer-contributions-adjustment" autocomplete="off" aria-required="true" />
                            </div>
                            <div class="form-group currency-input">
                                <label class="form-label" for="employee-avcs-adjustment">
                                    <span>Employee added years</span>
                                    <span class="currency-input__unit">£</span>
                                </label>
                                <input class="form-control form-control-1-3 at-least-one" name="employee-avcs-adjustment" type="number" id="employee-avcs-adjustment" autocomplete="off" aria-required="true" />
                            </div>
                            <div class="form-group currency-input">
                                <label class="form-label" for="additional-pension-adjustment">
                                    <span>Additional pension</span>
                                    <span class="currency-input__unit">£</span>
                                </label>
                                <input class="form-control form-control-1-3 at-least-one" name="additional-pension-adjustment" type="number" id="additional-pension-adjustment" autocomplete="off" aria-required="true" />
                            </div>
                            <div class="form-group currency-input">
                                <label class="form-label" for="errbo-adjustment">
                                    <span>ERRBO (Early Retirement Reduction Buy Out)</span>
                                    <span class="currency-input__unit">£</span>
                                </label>
                                <input class="form-control form-control-1-3 at-least-one" name="errbo-adjustment" type="number" id="errbo-adjustment" autocomplete="off" aria-required="true" />
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-group currency-input">
                    <label class="form-label" for="total-amount-debited" id="total-amount-debited-label">
                        <span>Total amount to be debited</span>
                        <span class="currency-input__unit">£</span>
                        <span class="error-message display-none" id="error-message-total-amount-debited">Total amount is required</span>
                    </label>
                    <input class="form-control form-control-1-3 validate-numeric" id="total-amount-debited" name="total-amount-debited" type="number" autocomplete="off" aria-required="true" required />
                </div>
                <div class="form-group">
                    <input class="button" type="submit" value="Next" />
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
