{% extends "layout.html" %}

{% block page_title %}Create new employee - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="error-summary display-none" role="group" aria-labelledby="error-summary-heading-create-employee-account" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-create-employee-account">
                    Some questions have not been answered correctly.
                </h1>
                <p>Please see the errors below.</p>
                <ul class="error-summary-list">
                    <li><a href="#employee-email-label">The email is not valid</a></li>
                    <li><a href="#employee-password-label">The password is not valid</a></li>
                </ul>
            </div>

            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Create Sub Accounts for your Organisation</h1>
            </div>
            <form action="employee-account-created" method="get" class="form form-to-validate" id="create-employee-form" novalidate="novalidate" autocomplete="off">
            <!-- <form id="login-form"> -->
                <fieldset>
                    <legend class="visuallyhidden">Employee Details</legend>
                    <div class="form-group">
                        <label for="employee-email" id="employee-email-label">
                            <span class="form-label-bold">Email address</span>
                            <span class="error-message display-none" id="error-message-employee-email">Please enter a valid email address</span>
                        </label>
                        <input type="email" id="employee-email" value="" name="employee-email" class="form-control validate-text-input" required>
                    </div>
                    <div class="form-group">
                        <label for="employee-password" id="employee-password-label">
                            <span class="form-label-bold">First Password</span>
                            <span class="form-hint">The employee will use this password <br>once then be prompted to change it</span>
                            <span class="error-message display-none" id="error-message-password">Please choose a password containing minimum 12 characters, including numbers, upper and lower case letters</span>
                        </label>
                        <input type="password" id="employee-password" value="" name="employee-password" class="form-control validate-text-input" required>
                    </div>
                </fieldset>

                <div class="form-group">
                    <button class="button">Add Employee</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
