{% extends "layout.html" %}

{% block page_title %}Employee account successfully created - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Employee account created</h1>
            </div>
            <div class="text">
                <p>The employee account for <span class="get-cookie" data-cookie-name="employee">&nbsp;</span> was successfully created.</p>
            </div>
            <a href="create-employee-account" class="button">Create Another</a>
        </div>
    </div>
</main>
{% endblock %}