{% extends "layout.html" %}

{% block page_title %}Employer account successfully created - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Employer account created</h1>
            </div>
            <div class="text">
                <p>The account for sam.jones@email.com was successfully created.</p>
            </div>
            <a href="employer-create" class="button">Create another</a>
        </div>
    </div>
</main>
{% endblock %}