{% extends "layout.html" %}

{% block page_title %}Make a new payment - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-full">
            <div class="heading-group">
                <p>Make pension contribution payments</p>
                <h1 class="heading-large">Make a new payment</h1>
            </div>
            <div class="form-group">
                <p>The February 2017 submission needs to reach us by 16 March 2017</p>
                <a href="make-payment" class="button set-cookie" data-cookie-value="February" data-cookie-name="payingMonth">Make payment</a>
            </div>
            <details>
                <summary><span class="summary">View your previous payments</span></summary>

                <div class="panel panel-border-narrow">
                    <table id="previous-payments">
                        <caption class="visually-hidden">Previous payments made by you.</caption>
                        <thead>
                            <tr>
                                <th scope="col">Month</th>
                                <th scope="col">Amount paid</th>
                                <th scope="col">Submitted by</th>
                                <th scope="col">Date submitted</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">January 2017</td>
                                <td>£10,203.52</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="January" data-cookie-name="payingMonth">21 February 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">January 2017</td>
                                <td>£30,262.56</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="January" data-cookie-name="payingMonth">15 February 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">December 2016</td>
                                <td>£62,188.41</td>
                                <td>Mathew Brown</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="December" data-cookie-name="payingMonth">21 January 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">November 2016</td>
                                <td>£48,882.60</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="November" data-cookie-name="payingMonth">17 December 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">October 2016</td>
                                <td>£26,873.38</td>
                                <td>Mathew Brown</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="October" data-cookie-name="payingMonth">21 November 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">October 2016</td>
                                <td>£53,201.01</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="October" data-cookie-name="payingMonth">14 November 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">September 2016</td>
                                <td>£64,011.56</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="September" data-cookie-name="payingMonth">17 October 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">August 2016</td>
                                <td>£94,011.07</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="August" data-cookie-name="payingMonth">16 September 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">July 2016</td>
                                <td>£94,011.07</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="July" data-cookie-name="payingMonth">16 August 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">June 2016</td>
                                <td>£94,011.07</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="June" data-cookie-name="payingMonth">16 July 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">May 2016</td>
                                <td>£8,562.93</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="May" data-cookie-name="payingMonth">21 June 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">May 2016</td>
                                <td>£48,882.60</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="May" data-cookie-name="payingMonth">16 June 2016</a></td>
                            </tr>
                            <tr>
                                <td scope="row">April 2016</td>
                                <td>£7,201.31</td>
                                <td>Alison Moore</td>
                                <td><a href="already-paid" class="set-cookie" data-cookie-value="April" data-cookie-name="payingMonth">11 May 2016</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </details>
        </div>
    </div>
</main>
{% endblock %}
