{% extends "layout.html" %}

{% block page_title %}Check your email - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Check your email
            </h1>
            <div class="text">
                <p id="reset-password-text">You have been sent an email to reset your password.</p>
            </div>
            
            <div class="form-group">
                <a id="start-button" class="button" href="start" role="button">Start again</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}