{% extends "layout.html" %}

{% block page_title %}Check your email - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Check your email</h1>
            </div>
            <div class="text">
                <p>You have been sent an email to reset your password.</p>
            </div>
            
            <a class="button" href="start">Start again</a>
        </div>
    </div>
</main>
{% endblock %}