{% extends "layout.html" %}

{% block page_title %}Check your email - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p id="service-name-text">{{serviceName}}</p>
                <h1 class="heading-large" id="main-heading">Check your email</h1>
            </div>
            <div class="text">
                <p id="reset-password-text">You have been sent an email to reset your password.</p>
            </div>
            
            <a class="button" href="start" id="start-button">Start again</a>
        </div>
    </div>
</main>
{% endblock %}