{% extends "layout.html" %}

{% block page_title %}Forgotten password - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="error-summary display-none" id="forgotten-password-error-message" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    Some questions have not been answered correctly.
                </h1>
                <p id="forgotten-password-error-text">Please see the errors below.</p>
                <ul class="error-summary-list">
                    <li><a href="#email" id="forgotten-password-error-list1">Please enter a valid email address</a></li>
                </ul>
            </div>

            <div class="heading-group">
                <p id="service-name-text">{{serviceName}}</p>
                <h1 class="heading-large" id="main-heading">Forgotten password</h1>
            </div>
            <div class="text">
                <p id="reset-password-text">Enter your email address and we will send you a link to reset your password.</p>
            </div>

            <form action="forgot-password-reset" method="get" class="form form-to-validate" id="forgot-password-form" novalidate="novalidate" autocomplete="off">
                <fieldset>
                    <legend class="visuallyhidden">Enter your password</legend>
                    <div class="form-group" id="email-group">
                        <label for="email" id="email-label">
                            <span class="form-label-bold" id="email-label-text">Email address</span>
                            <span class="error-message display-none" id="error-message-password">Enter your password</span>
                        </label>
                        <input type="email" id="email" value="" class="form-control validate-text-input" required>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Send email" id="submit" />
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
