{% extends "layout.html" %}

{% block page_title %}Forgotten password - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="error-summary display-none" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    Some questions have not been answered correctly.
                </h1>
                <p>Please see the errors below.</p>
                <ul class="error-summary-list">
                    <li><a href="#email">Enter your email</a></li>
                </ul>
            </div>

            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Forgotten password</h1>
            </div>
            <div class="text">
                <p>Enter your email address and we will send you a link to reset your password.</p>
            </div>

            <form action="forgot-password-reset" method="get" class="form form-to-validate" id="forgot-password-form" novalidate="novalidate" autocomplete="off">
                <fieldset>
                    <legend class="visuallyhidden">Enter your password</legend>
                    <div class="form-group">
                        <label for="email">
                            <span class="form-label-bold">Email address
                            <!-- <span class="error-message display-none" id="error-message-email">Provide email</span> -->
                        </label>
                        <input type="email" id="email" value="" class="form-control validate-text-input" required>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Send email" />
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="pagination-simple">
        <div>
            <a href="login" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Employer sign in</span>
            </a>
        </div>
    </div> -->
</main>
{% endblock %}
