{% extends "layout.html" %}

{% block page_title %}Journeys &amp; Patterns - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Financial Information Collection journeys</h1>
            </div>
            <ul class="list">
                <li>For single EA journey type in anything for the email address</li>
                <li>For multiple EA journey type in '<strong>ea</strong>' for the email address</li>
                <li>For GP/Staff options type in '<strong>gp</strong>' for the email address</li>
                <li>For the File Upload journey type in '<strong>csv</strong>' for the email address</li>
                <li>For the Onboarding journey type in '<strong>new</strong>' for the email address</li>
                <li>For the Create Employer journey type in '<strong>employer</strong>' for the email address</li>
            </ul>
            <p><a href="/fic/start">Start Page</a></p>
        </div>
    </div>
    <hr>
    {% include "includes/elements_navigation.html" %}
</main>
{% endblock %}
