{% extends "layout.html" %}

{% block page_title %}Locked out - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="main-heading" class="heading-large">You&rsquo;ve been locked out</h1>
            <div class="text">
                <p>You have entered the wrong password to too many times.</p>
                <p>You need to <a href="#">reset your password</a> to unlock your account.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
