{% extends "layout.html" %}

{% block page_title %}Employer sign in - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Login</li>
{% endblock %}

{% block back %}
    {{ super() }}
    <a class="link-back" href="#">Back</a>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    <div class="back-nav" role="navigation">
        <a class="link-back" href="#">Back</a>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div id="error-summary" class="error-summary display-none" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h1 class="error-summary-heading" id="error-summary-heading-example-1">
                    There was a problem with the email address and password combination
                </h1>
                <ul class="error-summary-list">
                    <li><a href="#email">Your email is not valid</a></li>
                    <li><a href="#password">Your password is not valid</a></li>
                </ul>
            </div>

            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Employer sign in</h1>
            </div>
            <form action="previous-payments" method="get" class="form form-to-validate" id="login-form" novalidate="novalidate" autocomplete="off">
            <!-- <form id="login-form"> -->
                <fieldset>
                    <legend class="visuallyhidden">Login details</legend>
                    <div class="form-group">
                        <label class="form-label-bold" for="email">
                            <span class="form-label-bold">Email address</span>
                            <span class="error-message display-none" id="error-message-email">Provide email</span>
                        </label>
                        <input type="email" id="email" value="" class="form-control validate-text-input" required>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <span class="form-label-bold">Password</span>
                            <span class="error-message display-none" id="error-message-password">Provide password</span>
                        </label>
                        <input type="password" id="password" value="" name="password" class="form-control validate-text-input" required>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Sign in" />
                    <p><a href="forgot-password">Forgotten your password?</a></p>
                </div>
            </form>
            <!-- <div class="pagination-simple">
                <div>
                    <a href="login" class="link">
                        <span class="prefix">Start again:</span>
                        <span class="title">NHS Pension Scheme Financial Information Collection</span>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</main>
{% endblock %}
