{% extends "layout.html" %}

{% block page_title %}Login - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary display-none" id="financeLoginErrorMessage" role="group" aria-labelledby="finance-login-message-heading" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="finance-login-message-heading">
                    Some questions have not been answered correctly:
                </h1>
                <p id="login-error-text">Please see the errors below.</p>
                <ul class="error-summary-list">
                    <li><a href="#username-label" id="login-error-list1">The username and password combination are not valid</a></li>
                </ul>
            </div>
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Login
            </h1>
            <form action="previous-payments" method="get" class="form form-to-validate" id="login-form" novalidate="novalidate" autocomplete="off">
                <fieldset>
                    <legend class="visuallyhidden" id="login-details-label" tabindex="-1">Login details</legend>
                    <div class="form-group" id="login-username-group">
                        <label class="form-label-bold" for="username" id="login-username-label">
                            <span class="form-label-bold">Username</span>
                            <span class="error-message display-none" id="error-message-username">Enter your username</span>
                        </label>
                        <input type="text" id="username" class="form-control validate-text-input" name="username" autocomplete="off" aria-required="true" required />
                    </div>
                    <div class="form-group" id="login-password-group">
                        <label for="password" id="login-password-label">
                            <span class="form-label-bold">Password</span>
                            <span class="error-message display-none" id="error-message-password">Enter your password</span>
                        </label>
                        <input type="password" id="password" class="form-control validate-text-input" name="password" autocomplete="off" aria-required="true" required />
                    </div>
                </fieldset>
                <div id="login-submit-button" class="form-group">
                    <input id="login-button" class="button" type="submit" value="Login" />
                </div>
                <p class="navigation">
                    <a id="forgotten-password-link" href="forgot-password">Forgotten your password?</a>
                </p>
            </form>
        </div>
    </div>
</main>
{% endblock %}
