{% extends "layout.html" %}

{% block page_title %}Submit contribution - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <form id="make-payment-form" class="form form-to-validate" method="get" action="contributions-and-payment" novalidate="novalidate">
                <div class="error-summary display-none" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                        Some questions have not been answered correctly.
                    </h1>
                    <p>Please see the errors below.</p>
                    <ul class="error-summary-list">
                        <li><a href="#contribution-month">Month and year is required</a></li>
                        <li><a href="#collection-day">Day, Month and year is required</a></li>
                    </ul>
                </div>

                <div class="heading-group">
                    <p>{{serviceName}}</p>
                    <h1 class="heading-large">Submit contribution</h1>
                </div>

                {% include "includes/multiple-ea.html" %}

                <div class="form-group">
                    <fieldset>
                        <legend id="desc-legend">
                            <span class="form-label-bold">What month is this contribution for?</span>
                            <span class="form-hint">For example, February 2018</span>
                        </legend>
                        <span class="error-message js-hidden">Month and year is required</span>
                        <div class="form-date form-date-wide">
                            <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                            <div class="form-group-month">
                                <label class="form-label" for="contribution-month">Month</label>
                                <input class="form-control typeahead" id="contribution-month" name="contribution-month" type="text" required="" aria-required="true" maxlength="11" />
                            </div>
                            <div class="form-group-year">
                                <label class="form-label" for="contribution-year">Year</label>
                                <input class="form-control" id="contribution-year" name="contribution-year" type="number" required="" aria-required="true" min="2001" />
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">What date do you want to submit your contributions?</span>
                            <span class="form-hint">For example, 16 February 2018</span>
                        </legend>
                        <span class="error-message js-hidden">Day, Month and year is required</span>
                        <div class="form-date form-date-wide">
                            <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                            <div class="form-group-day">
                                <label class="form-label" for="collection-day">
                                    Day
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control form-control-2-chars" id="collection-day" name="collection-day" type="number" required="" aria-required="true" min="1" max="31" />
                            </div>
                            <div class="form-group-month">
                                <label class="form-label" for="collection-month">
                                    Month
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control typeahead" id="collection-month" name="collection-month" type="text" required="" aria-required="true" maxlength="11" />
                            </div>
                            <div class="form-group-year">
                                <label class="form-label" for="collection-year">
                                    Year
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control" id="collection-year" name="collection-year" type="number" required="" aria-required="true" min="2001" />
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group demo-csv">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">Use this to upload your pension contributions file</span>
                        </legend>

                        <div class="form-group">
                            <label class="form-label" for="file-input">
                                <span class="visually-hidden">Upload a file</span>
                                <span class="form-hint">Accepts .csv, .xls, .xlsx and .ods file formats</span>
                            </label>
                            <input type="file" id="file-input">
                        </div>
                    </fieldset>
                </div>

                <div class="form-group staffgps">
                    <legend>
                        <span class="form-label-bold">Contribution payment</span>
                    </legend>
                    
                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="visually-hidden">Contribution payment</legend>
                            <label class="block-label selection-button-radio" for="example-cont-payment-staff">
                                <input id="example-cont-payment-staff" type="radio" name="radio-contact-group" value="Yes" />
                                Staff
                            </label>
                            <label class="block-label selection-button-radio" for="example-cont-payment-gp">
                                <input id="example-cont-payment-gp" type="radio" name="radio-contact-group" value="No" />
                                GP
                            </label>
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <p>Payment will be taken by direct debit within 2 working days.</p>
                    <div class="notice">
                        <i class="icon icon-important">
                            <span class="visually-hidden">Warning</span>
                        </i>
                        <strong class="bold-small">
                            16 Marc​h 2017 is the last date you can submit. After this date you will be charged a fee of £75 and interest for each day the payment is late
                        </strong>
                    </div>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend class="visually-hidden">Payment Notice</legend>
                        <!-- <p>If you submit this payment after the 16 March you will receive an administration fee of £75 pounds as well as interest for each day the payment is late.</p> -->
                        <label class="block-label selection-button-checkbox" for="understand">
                            <input class="form-control" id="understand" name="understand" type="checkbox" required="" aria-required="true" checked="" value="yes" />
                            I understand
                        </label>
                    </fieldset>
                </div>

                <div class="form-item-wrapper">
                    <div class="form-group">
                        <input id="next-button" class="button" type="submit" value="Next" />
                    </div>
                </div>
            </form>

            <!-- <div class="column-one-third">
                <p>Content</p>
            </div> -->

        </div>
    </div>
</main>
{% endblock %}
