{% extends "layout.html" %}

{% block page_title %}Submit contribution - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Make Payment</li>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    
    <div class="back-nav" role="navigation">
        <a class="top-back-button back-to-previous" href="#">Back</a>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Submit contribution</h1>
            </div>

            <!-- EA 
            <div class="column-full">
                <div class="form-group">
                    <h2 class="heading-large">Employing Authority (EA) code: EA5955</h2>
                    <h2 class="heading-large">Marie Curie Cancer Care</h2>
                </div>
            </div> -->

            <form id="make-payment" class="form" method="" action="contributions-and-payment" novalidate="novalidate">
                <div id="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" aria-hidden="true" class="js-hidden">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                        Message to alert the user to a problem goes here
                    </h1>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">What month is this contribution for?</span>
                            <span class="form-hint">For example February 2017</span>
                        </legend>
                        
                        <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                        <div class="form-date">

                            <div class="form-group form-group-month">
                                <label class="form-label" for="month">Month
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control" id="month" name="month" type="text" required="" aria-required="true" maxlength="12" />
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="year">Year
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control" id="year" name="year" type="text" required="" aria-required="true" />
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="form-label-bold">What date do you want to submit your contributions?</span>
                            <span class="form-hint">For example 16 March 2017</span>
                        </legend>
                        
                        <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label class="form-label" for="day2">Day
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control form-control-2-chars" id="day2" name="day2" type="text" required="" aria-required="true" />
                            </div>
                            <div class="form-group form-group-month">
                                <label class="form-label" for="month2">Month
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control" id="month2" name="month2" type="text" required="" aria-required="true" maxlength="12" />
                            </div>
                            <div class="form-group form-group-year">
                                <label class="form-label" for="year2">Year
                                    <span class="error-message"></span>
                                </label>
                                <input class="form-control" id="year2" name="year2" type="text" required="" aria-required="true" />
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group demo-csv">
                    <legend>
                        <span class="form-label-bold">Use this to upload your pension contributions file</span>
                    </legend>

                    <div class="form-group">
                        <label class="form-label" for="file-input">
                            <span class="visually-hidden">Upload a file</span>
                            <span class="form-hint">Accepts .csv, .xls, .xlsx and .ods file formats</span>
                        </label>
                        <input type="file" id="file-input">
                    </div>
                </div>

                <div class="form-group staffgps">
                    <h3 class="heading-medium">Contribution payment</h3>
                    
                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="visually-hidden">Contribution payment</legend>
                            <label class="block-label selection-button-radio" for="example-cont-payment-staff">
                                <input id="example-cont-payment-staff" type="radio" name="radio-contact-group" value="Yes" />
                                Staff
                            </label>
                            <label class="block-label selection-button-radio" for="example-cont-payment-gp">
                                <input id="example-cont-payment-gp" type="radio" name="radio-contact-group" value="No" />
                                GP
                            </label>
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <p>Payment will be taken by direct debit within 2 working days.</p>
                    <div class="notice">
                        <i class="icon icon-important">
                            <span class="visually-hidden">Warning</span>
                        </i>
                        <strong class="bold-small">
                            16 of March 2017 is the latest you can submit so you do not miss the deadline.
                        </strong>
                    </div>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend class="visually-hidden">Payment Notice</legend>
                        <p>If you submit this payment after the 16 March you will receive an administration fee of £75 pounds as well as interest for each day the payment is late.</p>
                        <label class="block-label selection-button-checkbox" for="understand">
                            <input class="form-control" id="understand" name="understand" type="checkbox" required="" aria-required="true" />
                            I understand
                        </label>
                    </fieldset>
                </div>

                <div class="form-item-wrapper">
                    <div class="form-group">
                        <input id="next-button" class="button" type="submit" value="Next" />
                    </div>
                </div>
            </form>


            <!-- <div class="column-one-third">
                <p>Content</p>
            </div> -->


        </div>
    </div>

    <!-- <div class="pagination-simple">
        <div class="back-link">
            <a href="#" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Previous page</span>
            </a>
        </div>
    </div> -->
    
</main>
{% endblock %}
