{% extends "layout.html" %}

{% block page_title %}Create a new password - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="error-summary display-none" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    Some questions have not been answered correctly.
                </h1>
                <p>Please see the errors below.</p>
                <ul class="error-summary-list">
                    <li><a href="#password-label">Your password must be at least 8 characters long and contain at least 1 letter and 1 digit</a></li>
                    <li><a href="#confirm-password-label">Your passwords must match</a></li>
                </ul>
            </div>

            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Create a new password</h1>
            </div>
            <div class="text">
                <p>You were given a temporary password to access this service, to continue you need to create a new password.</p>
            </div>

            <form action="password-saved" method="get" class="form form-to-validate" id="password-form" novalidate="novalidate" autocomplete="off">
                <fieldset>
                    <legend class="visuallyhidden">Enter your password</legend>
                    <div class="form-group">
                        <label for="password" id="password-label">
                            <span class="form-label-bold">Password</span>
                            <span class="form-hint">Must contain lower and upper case letters and numbers and be at least 12 characters long.</span>
                            <span class="error-message display-none" id="error-message-password">Enter your password</span>
                        </label>
                        <input type="password" id="password" value="" class="form-control validate-text-input">
                    </div>
                    <div class="form-group">
                        <label class="form-label-bold" for="confirm-password" id="confirm-password-label">
                            <span>Confirm Password</span>
                            <span class="error-message display-none" id="error-message-repeat-password">Repeat password</span>
                        </label>
                        <input type="password" id="confirm-password" value="" name="confirm-password" class="form-control validate-text-input">
                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}