{% extends "layout.html" %}

{% block page_title %}Create a new password - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary display-none" id="new-password-error-message" role="group" aria-labelledby="new-password-error-heading">
                <h1 class="heading-medium error-summary-heading" id="new-password-error-heading">
                    Some questions have not been answered correctly.
                </h1>
                <p id="new-password-error-message-text">Please see the errors below.</p>
                <ul class="error-summary-list">
                    <li><a href="#password-label" id="password-error-list1">Your password must be at least 8 characters long and contain at least 1 letter and 1 digit</a></li>
                    <li><a href="#confirm-password-label" id="password-error-list2">Your passwords must match</a></li>
                </ul>
            </div>

            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Create a new password
            </h1>
            <div class="text">
                <p id="set-password-create-text">You were given a temporary password to access this service, to continue you need to create a new password.</p>
            </div>

            <form action="password-saved" method="get" class="form form-to-validate" id="password-form" novalidate="novalidate" autocomplete="off">
                <fieldset>
                    <legend class="visuallyhidden" id="enter-password-label" tabindex="-1">Enter your password</legend>
                    <div class="form-group">
                        <label for="password" id="password-label">
                            <span class="form-label-bold" id="password-form-label">Password</span>
                            <span class="form-hint" id="password-hint">Must contain lower and upper case letters and numbers and be at least 12 characters long.</span>
                            <span class="error-message display-none" id="error-message-password">Enter your password</span>
                        </label>
                        <input type="password" id="password" class="form-control validate-text-input" autocomplete="off" aria-required="true" />
                    </div>
                    <div class="form-group">
                        <label class="form-label-bold" for="confirm-password" id="confirm-password-label">
                            <span class="error-message display-none" id="error-message-repeat-password">Repeat password</span>
                            Confirm Password
                        </label>
                        <input type="password" id="confirm-password" name="confirm-password" class="form-control validate-text-input" autocomplete="off" aria-required="true" />
                    </div>
                </fieldset>

                <div id="new-password-submit-button" class="form-group">
                    <input id="submitPassword" class="button" type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}