{% extends "layout.html" %}

{% block page_title %}Create a new password - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Create new password</li>
{% endblock %}

{% block back %}
    {{ super() }}
    <a class="top-back-button back-to-previous" href="#">Back</a>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    <div class="back-nav" role="navigation">
        <a class="top-back-button back-to-previous" href="#">Back</a>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Create a new password</h1>
            </div>
            <div class="text">
                <p>You were given a temporary password to access this service, to continue you need to create a new memorable password.</p>
            </div>

            <form action="password-saved" method="get" class="form form-to-validate" id="password-form" novalidate="novalidate" autocomplete="off">
                <fieldset>
                    <legend class="visuallyhidden">Enter your password</legend>
                    <div class="form-group">
                        <label for="password">
                            <span class="form-label-bold">Password</span>
                            <span class="form-hint">Must contain both letters and numbers and be at least 8 characters long.</span>
                        </label>
                        <input type="password" id="password" value="" class="form-control validate-text-input">
                    </div>
                    <div class="form-group">
                        <label class="form-label-bold" for="confirm-password">Confirm Password</label>
                        <input type="password" id="confirm-password" value="" name="confirm-password" class="form-control validate-text-input">
                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}