{% extends "layout.html" %}

{% block page_title %}This page cannot be found - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p id="service-name-text">{{serviceName}}</p>
                <h1 class="heading-large" id="main-heading">This page cannot be found</h1>
            </div>
            <div class="text">
                <p id="not-found-text">Please check that you have entered the correct web address, or go to NHS Pension <a href="start">Financial Information Collection</a> start page.</p>
            </div>
        </div>
    </div>

</main>
{% endblock %}