{% extends "layout.html" %}

{% block page_title %}Your password has successfully updated - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Password updated</li>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    <div class="back-nav" role="navigation">
        <a class="link-back" href="#">Back</a>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Your password has successfully updated</h1>
            </div>
            <a href="previous-payments" class="button button-get-started">Start again</a>
        </div>
    </div>
</main>
{% endblock %}