{% extends "layout.html" %}

{% block page_title %}Your password has successfully updated - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Your password has successfully updated
            </h1>
            <a id="password-updated-continue" class="button button-start" href="previous-payments">Start again</a>
        </div>
    </div>
</main>
{% endblock %}