{% extends "layout.html" %}

{% block page_title %}Your password has successfully updated - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your password was successfully changed</h1>
            </div>
            <a id="password-updated-continue" class="button" href="multi-ea">Continue</a>
        </div>
    </div>
</main>
{% endblock %}
