{% extends "layout.html" %}

{% block page_title %}Submit a new contribution - {{ super() }} - NHSBSA{% endblock %}

{% block content%} 
<main id="content" role="main" tabindex="-1" class="add-log-out">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Submit a new contribution
            </h1>

            {% include "includes/multiple-ea.html" %}
            
            <p class="lede" id="previous-payments-text">
                The February 2017 submission needs to reach us by 16 March 2017.
            </p>
            <div class="form-group">
                <a id="previous-payments-button" class="button" href="make-payment" role="button">Submit contribution</a>
            </div>
        </div>
        <div class="column-full">
            <h2 class="heading-medium" id="previous-contributions-table-heading">Previous contributions</h2>
            {% include "includes/previous-contributions-table.html" %}
        </div>
    </div>
    
</main>
{% endblock %}
