{% extends "layout.html" %}

{% block page_title %}Saved contributions - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Saved contributions</h1>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <p>There are no pending contributions waiting for submission.</p>
            {% include "includes/previous-contributions-table.html" %}
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group">
                <p><a class="button" href="create-employee-account" role="button">Create a new user</a></p>
            </div>
        </div>
    </div>

</main>
{% endblock %}