{% extends "layout.html" %}

{% block page_title %}Employing authority contributions - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    
    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Employing authority contributions
            </h1>

            <div class="form-group">
                <label class="form-label" for="full-name-f1" id="search-ea-label">Search for an Employing Authority (EA) code</label>
                <form action="select-ea" method="get" id="search-ea-form">
                    <input class="form-control" id="full-name-f1" value="EA9143" type="text" />
                    <!-- <button class="button" type="submit" id="search-ea-button">Search</button> -->
                    <input id="search-ea-button" class="button" type="submit" value="Search" />
                </form>    
            </div>
        </div>

        <div class="column-full">                        
            <table>
                <thead>
                    <tr>
                        <th scope="col">History</th>
                        <th scope="col">Organisation</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="previous-payments">EA5955</a></td>
                        <td>Hesketh House, Fleetwood</td>
                        <td><span class="service-status outstanding">outstanding</span></td>
                        <td><a href="make-payment">Submit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
