{% extends "layout.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Select EA</li>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Employing Authority Contributions</h1>
            <div class="form-group">
                <label class="form-label" for="full-name-f1">Search for an Employing Authority (EA) code</label>
                <form action="searched-ea" method="get">
                    <input class="form-control" id="full-name-f1" type="text" />
                    <button class="button" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="form-group">
            <div class="column-full">                        
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data-table stack-table wide-table hoverable-table">
                    <tbody>
                    <tr>
                        <th scope="col">History</th>
                        <th scope="col">Organisation</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA5955" data-cookie-name="eaCode">EA5955</a></td>
                        <td>Hesketh House, Fleetwood</td>
                        <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA5955" data-cookie-name="eaCode">Submit</a></td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA2331" data-cookie-name="eaCode">EA2331</a></td>
                        <td>Stella House, Newcastle</td>
                        <td class="centered-item"><span class="service-status submitted">submitted</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA2331" data-cookie-name="eaCode">Edit</a></td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA4411" data-cookie-name="eaCode">EA4411</a></td>
                        <td>Random House Name, Liverpool</td>
                        <td class="centered-item"><span class="service-status submitted">submitted</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA4411" data-cookie-name="eaCode">Edit</a></td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA2911" data-cookie-name="eaCode">EA2911</a></td>
                        <td>Random Trust Name, London</td>
                        <td class="centered-item"><span class="service-status completed">completed</span></td>
                        <td>
                            &nbsp;<!--<a href="make-payment" class="set-cookie" data-cookie-value="EA291" data-cookie-name="eaCode">View</a>-->
                        </td>
                    </tr>
                    <tr class="hoverable">
                        <td>EA3008</td>
                        <td>NHS Cheetham Health Centre, Manchester</td>
                        <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA3008" data-cookie-name="eaCode">Submit</a></td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA5000" data-cookie-name="eaCode">EA5000</a></td>
                        <td>Random Hospital, Rochdale</td>
                        <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA5000" data-cookie-name="eaCode">Submit</a></td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA8280" data-cookie-name="eaCode">EA8280</a></td>
                        <td>Another Random Trust Name, Liverpool</td>
                        <td class="centered-item"><span class="service-status completed">completed</span></td>
                        <td>
                            &nbsp;<!--<a href="make-payment" class="set-cookie" data-cookie-value="EA291" data-cookie-name="eaCode">View</a>-->
                        </td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA9143" data-cookie-name="eaCode">EA9143</a></td>
                        <td>Marie Curie Cancer Care</td>
                        <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA9143" data-cookie-name="eaCode">Submit</a></td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA1195" data-cookie-name="eaCode">EA1195</a></td>
                        <td>Another Trust in Fleetwood</td>
                        <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA1195" data-cookie-name="eaCode">Submit</a></td>
                    </tr>
                    <tr class="hoverable">
                        <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA3000" data-cookie-name="eaCode">EA3000</a></td>
                        <td>Made Up Name Trust, Manchester</td>
                        <td class="centered-item"><span class="service-status submitted">submitted</span></td>
                        <td><a href="make-payment" class="set-cookie" data-cookie-value="EA3000" data-cookie-name="eaCode">Edit</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pager">
                    <div class="pager-controls">
                        <ul class="pager-items">
                            <li>1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <a class="pager-next" href="#">Next</a>
                    </div>
                    <div class="pager-summary">Showing 1 &ndash; 50 of 146 records</div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="column-one-third">
        <p>Content</p>
    </div> -->

    <!-- <div class="pagination-simple">
        <div>
            <a href="login" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Employer sign in</span>
            </a>
        </div>
    </div> -->
</main>
{% endblock %}