{% extends "layout.html" %}

{% block page_title %}Sorry, you'll have to start again - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Session ended</li>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Sorry, you'll have to start again</h1>
            </div>
            <div class="text">
                <p>Your session automatically ends if you don't use the service for 30 mins OR you may have logged out of the service on another page.</p>
            </div>
            <a class="button button-get-started" href="start">Start again</a>
        </div>
    </div>
</main>
{% endblock %}