{% extends "layout.html" %}

{% block page_title %}{{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

	<div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Make payments to the NHS Pension Scheme
            </h1>
            <p id="start-submit-text">This service is for NHS employers.</p>
            <p id="start-use-service-text">Use this service to make payments for:</p>
            <ul class="list list-bullet">
                <li id="start-use-service-list1">your employees payments</li>
                <li id="start-use-service-list2">your employer payments</li>
                <li id="start-use-service-list3">adjustments for previous months</li>
                <li id="start-use-service-list4">if you're an administrator, you'll also be able to manage accounts</li>
            </ul>
            <div class="form-group">
                <div class="panel panel-border-wide">
                    <p>This process will take around 5 mins to complete.</p>
                </div>
            </div>
            <div class="form-group">
                <a id="button-start" class="button button-start" href="login">Start now</a>
            </div>
        </div>
        <div class="column-one-third">
            <div class="sidebar">
                <div class="sidebar-box">
                    <h2 class="heading-medium">Related information</h2>
                    <ul class="list list-bullet">
                        <li><a href="http://www.nhsbsa.nhs.uk/Pensions/4078.aspx" target="_blank">NHSBSA Employers Hub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
