{% extends "layout.html" %}

{% block page_title %}Submit your monthly NHS Pension Scheme Contributions - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

	<div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Your monthly NHS Pension Scheme Contributions</h1>
            </div>
            <p id="start-submit-text">Submit your monthly NHS Pension Scheme contributions.</p>
            <p id="start-use-service-text">Use this service to:</p>
            <ul class="list list-bullet">
                <li id="start-use-service-list1">submit your employees monthly contributions</li>
                <li id="start-use-service-list2">submit your employer contributions</li>
                <li id="start-use-service-list3">submit any adjustments from previous months</li>
                <li id="start-use-service-list4">view previously submitted contributions</li>
            </ul>
            <a class="button button-get-started" id="button-start" href="login">Start now</a>
        </div>
        <div class="column-one-third">
            <div class="sidebar">
                <div class="sidebar-box">
                    <h2 class="heading-medium">Related information</h2>
                    <ul class="list list-bullet">
                        <li><a href="http://www.nhsbsa.nhs.uk/Pensions/4078.aspx" target="_blank">NHSBSA Employers Hub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}