{% extends "layout.html" %}

{% block page_title %}Check your February 2017 contributions before submitting - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Summary</li>
{% endblock %}

{% block back %}
    {{ super() }}
    <a class="top-back-button back-to-previous" href="#">Back</a>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">

    <div class="back-nav" role="navigation">
        <a class="top-back-button back-to-previous" href="#">Back</a>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Check your February 2017 contributions before submitting</h1>
            </div>

            <table class="content-table stack-table three-column">
                <caption class="heading-small">Contribution details</caption>
                <tbody>
                    <tr class="staffgps">
                        <td>Number of scheme members</td>
                        <td class="numeric">8</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#scheme-members">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Total pensionable pay</td>
                        <td class="numeric">£250,000.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#full-name-f1">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Employee contributions</td>
                        <td class="numeric">£23,750.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#full-name-f2">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Employer contributions</td>
                        <td class="numeric">£35,750.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#full-name-f3">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Employee added years</td>
                        <td class="numeric">£1,780.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#full-name-f4">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Additional pension amount</td>
                        <td class="numeric">£750.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#full-name-f5">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Early Retirement Reduction Buy Out (ERRBO)</td>
                        <td class="numeric">-</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#full-name-f6">Change</a>
                        </td>
                    </tr>
                    <tr class="total">
                        <td class="bold">Total amount to be debited</td>
                        <td class="numeric"><strong>£59,500.00</strong></td>
                        <td class="numeric">
                            <a href="contributions-and-payment#full-name-f7">Change</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="content-table stack-table three-column">
                <caption class="heading-small">Make contribution</caption>
                <tbody>
                    <tr>
                        <td>What month is this contribution for?</td>
                        <td>February 2017</td>
                        <td class="numeric">
                            <a href="make-payment#month">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td>When do you want to pay?</td>
                        <td>18 February 2017</td>
                        <td class="numeric">
                            <a href="make-payment#day2">Change</a>
                        </td>
                    </tr>
                    <tr class="staffgps">
                        <td>Contribution payment</td>
                        <td>Staff</td>
                        <td class="numeric">
                            <a href="make-payment#example-cont-payment-staff">Change</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="content-table stack-table two-column">
                <caption class="heading-small">Your contact details</caption>
                <tbody>
                    <tr>
                        <td>Employing Authority (EA) code</td>
                        <td>EA9143</td>
                    </tr>
                    <tr>
                        <td>Account name</td>
                        <td>Marie Curie Cancer Care</td>
                    </tr>
                    <tr>
                        <td>Full name</td>
                        <td>Alison Moore</td>
                    </tr>
                    <tr>
                        <td>Contact number</td>
                        <td>01237 611 978</td>
                    </tr>
                    <tr>
                        <td>Email address</td>
                        <td>alison.moore@nhs.net</td>
                    </tr>
                </tbody>
            </table>

            <div class="demo-csv callout-box text">
                <h3 class="heading-medium">I understand that:</h3>
                <p>The amount shown is correct and that deductions have been made from member salaries as per the NHS Pension Scheme Regulations.</p>
            </div>

            <br>
            <div class="form-group">
                <a class="button" href="thank-you" role="button">Submit your contribution</a>
            </div>

            <!-- <div class="column-one-third">
                <p>Content</p>
            </div> -->

        </div>
    </div>

    <!-- <div class="pagination-simple">
        <div class="back-link">
            <a href="contributions-and-payment" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Contributions details</span>
            </a>
        </div>
    </div> -->

</main>
{% endblock %}