{% extends "layout.html" %}

{% block page_title %}Check your February 2017 contributions before submitting - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Check your February 2017 contributions before submitting
            </h1>

            {% include "includes/multiple-ea.html" %}

            <table class="content-table stack-table three-column">
                <caption class="heading-small" id="contributions-header">Contributions for February 2017</caption>
                <tbody>
                    <tr class="staffgps">
                        <td id="no-scheme-members-key">Number of scheme members</td>
                        <td class="numeric" id="contribution.no.scheme.members">8</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#no-of-scheme-members">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="total-pensionable-key">Total pensionable pay</td>
                        <td class="numeric" id="contribution.total.pensionable.pay">£250,000.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#total-pensionable-pay">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="employee-contributions-key">Employee contributions</td>
                        <td class="numeric" id="contribution.employee.contribution">£23,750.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#employee-contributions">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="employer-contributions-key">Employer contributions</td>
                        <td class="numeric" id="contribution.employer.contribution">£35,750.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#employer-contributions">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="employee-added-key">Employee added years</td>
                        <td class="numeric" id="contribution.additional.years">£1,780.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#employee-avcs">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="additional-pension-key">Additional pension amount</td>
                        <td class="numeric" id="contribution.additional.pension">£750.00</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#additional-pension">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="errbo-key">Early Retirement Reduction Buy Out (ERRBO)</td>
                        <td class="numeric" id="contribution.errbo">-</td>
                        <td class="numeric">
                            <a href="contributions-and-payment#errbo">Change</a>
                        </td>
                    </tr>
                    <tr class="total">
                        <td class="bold" id="contribution-total-key">Total amount to be debited</td>
                        <td class="numeric" id="contribution.total.debit"><strong>£59,500.00</strong></td>
                        <td class="numeric">
                            <a href="contributions-and-payment#total-amount-debited">Change</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="content-table stack-table three-column">
                <caption class="heading-small" id="schedule-header">Make contribution</caption>
                <tbody>
                    <tr>
                        <td id="contribution-month-title">What month is this contribution for?</td>
                        <td id="contribution-month-label">February 2017</td>
                        <td class="numeric">
                            <a href="make-payment#contribution-month">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="transfer-date-title">When do you want to pay?</td>
                        <td id="contribution-day-label">18 February 2017</td>
                        <td class="numeric">
                            <a href="make-payment#collection-day">Change</a>
                        </td>
                    </tr>
                    <tr class="staffgps">
                        <td id="payment-type-title">Contribution payment</td>
                        <td id="payment-type-value">Staff</td>
                        <td class="numeric">
                            <a href="make-payment#example-cont-payment-staff">Change</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="content-table stack-table two-column">
                <caption class="heading-small" id="contact-details-heading-title">Your contact details</caption>
                <tbody>
                    <tr>
                        <td id="ea-code-field-description">Employing Authority (EA) code</td>
                        <td id="ea-code-field-value"><span class="get-cookie" data-cookie-name="eaCode">&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td id="account-name-field-description">Account name</td>
                        <td id="account-name-field-value">Marie Curie Cancer Care</td>
                    </tr>
                    <tr>
                        <td id="full-name-field-description">Full name</td>
                        <td id="full-name-field-value">Alison Moore</td>
                    </tr>
                    <tr>
                        <td id="contact-number-field-description">Contact number</td>
                        <td id="contact-number-field-value">01237 611 978</td>
                    </tr>
                    <tr>
                        <td id="email-field-description">Email address</td>
                        <td id="email-field-value">alison.moore@nhs.net</td>
                    </tr>
                </tbody>
            </table>

            <div class="callout-box text">
                <h3 class="heading-medium" id="declaration-heading">I understand that:</h3>
                <p id="declaration-text">The amount shown is correct and that deductions have been made from member salaries as per the NHS Pension Scheme Regulations.</p>
            </div>

            <br>
            <div class="form-group">
                <a id="submit" class="button" href="thank-you" role="button"><span class="get-cookie" data-cookie-name="summaryButtonText">Save contribution</a>
            </div>

        </div>
    </div>

</main>
{% endblock %}