{% extends "layout.html" %}

{% block page_title %}You have successfully submitted your February 2017 contributions - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1" class="add-log-out">

    {% include "includes/phase_banner.html" %}
    {% include "includes/back_nav.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="nhsuk-box-highlight">
                <h1 class="bold-large" id="main-heading">Thank you</h1>
                <p id="thank-you-success-text">You have successfully submitted your <span id="contributionMonth">December</span> <span id="contributionYear">2017</span> contribution</p>
            </div>

            <table class="content-table stack-table two-column" style="margin-bottom: 20px;">
                <caption class="heading-small" id="thank-you-payment-header">Payment details</caption>
                <tbody>
                    <th colspan="2" id="contributions-header">
                        <span id="contributions-for-key">Contributions for</span> <span class="get-cookie" data-cookie-name="payingMonth" id="paying.month">December</span> <span class="get-cookie" data-cookie-name="payingYear" id="paying.year">2017</span>
                    </th>
                    <tr class="staffgps">
                        <td>Number of scheme members</td>
                        <td class="numeric">8</td>
                    </tr>
                    <tr>
                        <td id="total-pensionable-key">Total pensionable pay</td>
                        <td class="numeric" id="contribution.total.pensionable.pay">£250,000.00</td>
                    </tr>
                    <tr class="highlighted">
                        <td id="employee-contributions-key">Employee contributions</td>
                        <td class="numeric" id="contribution.employee.contribution">£23,750.00</td>
                    </tr>
                    <tr class="highlighted">
                        <td id="employer-contributions-key">Employer contributions</td>
                        <td class="numeric" id="contribution.employer.contribution">£35,750.00</td>
                    </tr>
                    <tr>
                        <td>Employee added years</td>
                        <td class="numeric">£1,780.00</td>
                    </tr>
                    <tr>
                        <td>Additional pension amount</td>
                        <td class="numeric">£750.00</td>
                    </tr>
                    <tr>
                        <td>Early Retirement Reduction Buy Out (ERRBO)</td>
                        <td class="numeric">-</td>
                    </tr>
                    <tr class="total">
                        <td class="bold" id="contribution-total-key">Total amount to be debited</td>
                        <td class="numeric" id="contribution.total.debit"><strong>£59,500.00</strong></td>
                    </tr>
                </tbody>
            </table>

            <table class="content-table stack-table two-column"  style="margin-bottom: 20px;">
                <caption class="heading-small" id="make-payment-header">Make payment</caption>
                <tbody>
                    <tr>
                        <td id="payment-year-key">What month is this payment for?</td>
                        <td><span id="contribution-month">December</span>&nbsp;<span id="contribution-year">2017</span></td>
                    </tr>
                    <tr>
                        <td id="payment-month-key">When do you want to pay?</td>
                        <td><span id="transfer-day">31</span>&nbsp;<span id="transfer-month">December</span>&nbsp;<span id="transfer-year">2017</span></td>
                    </tr>
                    <tr class="staffgps">
                        <td>Contribution payment</td>
                        <td>Staff</td>
                    </tr>
                </tbody>
            </table>
            
            <table class="content-table stack-table two-column"  style="margin-bottom: 20px;">
                <caption class="heading-small" id="contact-details-header">Your contact details</caption>
                <tbody>
                    <tr>
                        <td id="ea-code-field-description">Employing Authority (EA) code</td>
                        <td id="ea-code-field-value">EA9143</td>
                    </tr>
                    <tr>
                        <td id="account-name-field-description">Account name</td>
                        <td id="account-name-field-value">Marie Curie Cancer Care</td>
                    </tr>
                    <tr>
                        <td id="full-name-field-description">Full name</td>
                        <td id="full-name-field-value">Alison Moore</td>
                    </tr>
                    <tr>
                        <td id="contact-number-field-description">Contact number</td>
                        <td id="contact-number-field-value">01237 611 978</td>
                    </tr>
                    <tr>
                        <td id="email-field-description">Email address</td>
                        <td id="email-field-value">alison.moore@nhs.net</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="form-group">
                <a id="finish" class="button" href="multi-ea" role="button">Make a new contribution</a>
            </div>
        </div>

        <div class="column-one-third">
            <div class="nextoblue">
                <ul class="list options-list">
                    <li>
                        <a href="javascript:window.print();" class="print-link" id="print-page-link">
                            <i class="icon icon-print"></i> Print this page
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
