{% extends "layout.html" %}

{% block page_title %}You have successfully submitted your February 2017 contributions - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    {% include "includes/account-details.html" %}
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="done-panel">
                <h1 class="heading-large">
                    <span id="done-tick"> </span>
                    Payment submitted
                </h1>
                <p class="lede">
                    <span class="">June 2019</span>
                    payment successfully submitted for <span class="sr-despace">E A 1 2 3 4</span>
                </p>
            </div>


                    <div class="print-page">
                        <a class="icon print-icon" href="javascript:window.print();"> Print this page</a>
                    </div>


            <div class="form-group">
                <table class="content-table stack-table two-column" style="margin-bottom: 20px;">
                    <caption class="heading-small visually-hidden" id="thank-you-payment-header">Contribution details</caption>
                    <thead>
                        <tr>
                            <th colspan="2"><span>Contribution details</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="staffgps">
                            <td>Number of scheme members</td>
                            <td class="numeric">8</td>
                        </tr>
                        <tr>
                            <td id="total-pensionable-key">Total pensionable pay</td>
                            <td class="numeric" id="contribution.total.pensionable.pay">£250,000.00</td>
                        </tr>
                        <tr class="highlighted">
                            <td id="employee-contributions-key">Employee contributions</td>
                            <td class="numeric" id="contribution.employee.contribution">£23,750.00</td>
                        </tr>
                        <tr class="highlighted">
                            <td id="employer-contributions-key">Employer contributions</td>
                            <td class="numeric" id="contribution.employer.contribution">£35,750.00</td>
                        </tr>
                        <tr>
                            <td>Employee added years</td>
                            <td class="numeric">£1,780.00</td>
                        </tr>
                        <tr>
                            <td>Additional pension amount</td>
                            <td class="numeric">£750.00</td>
                        </tr>
                        <tr>
                            <td>Early Retirement Reduction Buy Out (ERRBO)</td>
                            <td class="numeric">-</td>
                        </tr>
                        <tr>
                            <td>Adjustments required?</td>
                            <td class="numeric">No</td>
                        </tr>
                        <tr class="total">
                            <td class="bold" id="contribution-total-key">Total amount to be debited</td>
                            <td class="numeric" id="contribution.total.debit"><strong>£59,500.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <table class="content-table stack-table two-column"  style="margin-bottom: 20px;">
                    <caption class="heading-small visually-hidden" id="make-payment-header">Make a payment</caption>
                    <thead>
                        <tr>
                            <th colspan="2"><span>Make a payment</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="payment-year-key">Make contribution</td>
                            <td class="numeric"><span id="contribution-month">February</span>&nbsp;<span id="contribution-year">2017</span></td>
                        </tr>
                        <tr>
                            <td id="payment-month-key">When do you want to pay?</td>
                            <td class="numeric"><span id="transfer-day">18</span>&nbsp;<span id="transfer-month">February</span>&nbsp;<span id="transfer-year">2017</span></td>
                        </tr>
                        <tr>
                            <td id="payment-date-time">When you submitted your payment</td>
                            <td class="numeric"><span id="payment-date">18 February 2017</span>&nbsp;at&nbsp;<span id="db-time">13:42</span></td>
                        </tr>
                        <tr class="staffgps">
                            <td>Contribution payment</td>
                            <td class="numeric">Staff</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <table class="content-table stack-table two-column"  style="margin-bottom: 20px;">
                    <caption class="heading-small visually-hidden" id="contact-details-header">Your contact details</caption>
                    <thead>
                        <tr>
                            <th colspan="2"><span>Your contact details</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="ea-code-field-description">Employing Authority (EA) code</td>
                            <td id="ea-code-field-value" class="numeric">EA9143</td>
                        </tr>
                        <tr>
                            <td id="account-name-field-description">Account name</td>
                            <td id="account-name-field-value" class="numeric">Marie Curie Cancer Care</td>
                        </tr>
                        <tr>
                            <td id="full-name-field-description">Full name</td>
                            <td id="full-name-field-value" class="numeric">Alison Moore</td>
                        </tr>
                        <tr>
                            <td id="contact-number-field-description">Contact number</td>
                            <td id="contact-number-field-value" class="numeric">01237 611 978</td>
                        </tr>
                        <tr>
                            <td id="email-field-description">Email address</td>
                            <td id="email-field-value" class="numeric">alison.moore@nhs.net</td>
                        </tr>
                    </tbody>
                </table>
            </div>
 
            <a id="finish" class="button" href="login" role="button">Finish and give feedback</a>

                <hr>
            {% include "includes/back-ea.html" %}

        </div>
    </div>
</main>
{% endblock %}
