{% extends "layout.html" %}

{% block page_title %}Service unavailable - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Service unavailable
            </h1>
            <div class="text">
                <p id="info-text">To keep this service secure, any information you've entered hasn't been saved.</p>
                <p id="start-again-text">You will need to start again.</p>
            </div>
            <div class="form-group">
                <a id="start-button" class="button button-start" href="start">Start again</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}