{% extends "layout.html" %}

{% block page_title %}Service unavailable - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Service unavailable</h1>
            </div>
            <div class="text">
                <p>To keep this service secure, any information you've entered hasn't been saved.</p>
                <p>You will need to start again.</p>
            </div>
            
            <a class="button button-get-started" href="start">Start again</a>
        </div>
    </div>
</main>
{% endblock %}