{% extends "layout.html" %}

{% block page_title %}Service unavailable - {{ super() }}{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p id="service-name-text">{{serviceName}}</p>
                <h1 class="heading-large" id="main-heading">Service unavailable</h1>
            </div>
            <div class="text">
                <p id="info-text">To keep this service secure, any information you've entered hasn't been saved.</p>
                <p id="start-again-text">You will need to start again.</p>
            </div>
            
            <a class="button button-get-started" href="start" id="start-button">Start again</a>
        </div>
    </div>
</main>
{% endblock %}