{% extends "layout.html" %}

{% block page_title %}Your password has been successfully updated - {{ super() }}{% endblock %}

{% block breadcrumb %}
    {{ super() }}
    <li>Password updated</li>
{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{serviceName}}</p>
                <h1 class="heading-large">Your password has been successfully updated</h1>
            </div>
            <a class="button" href="login" role="button">Continue</a>
        </div>
    </div>
</main>
{% endblock %}