{% extends "layout.html" %}

{% block page_title %}Your password has been successfully updated - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="main-heading" class="heading-large">
                <span class="heading-secondary">{{serviceName}}</span>
                Your password has been successfully updated
            </h1>
            <div class="form=-group">
                <a id="password-updated-continue" class="button" href="login" role="button">Continue</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
