<section class="bsa-account-details-bar bsa-account-details-bar--slim bsa-print-hide" role="contentinfo" aria-label="Account details">
    <dl class="bsa-account-details-bar__contents">
        <div class="bsa-account-details-bar__header">
            <dt class="visually-hidden">Organisation:</dt>
            <dd class="bsa-account-details-bar__name heading-small">Brighton & Hove Integrated Care Services Ltd.</dd>
            <dt class="visually-hidden">Name:</dt>
            <dd class="bsa-account-details-bar__id">Signed in: Sam Curtis Jones</dd>
        </div>
    </dl>
    <div class="bsa-account-details-bar__action">
        <a href="/logged-out" class="log-out-link">Sign out</a>
    </div>
</section>