<form action="ea" method="get">
    <div class="form-group">
        <label class="form-label" for="search-ea">
            <span class="visually-hidden">Find an employing authority (EA)</span>
            <span class="form-hint">
                Search by EA code, for example, ‘EA1234’.
            </span>
        </label>
        <div class="grid-row">
            <div class="column-one-third">
                <input class="form-control" id="search-ea" type="text">
            </div>
        </div>
    </div>
    <button class="button">Find</button>
</form>