{
    "env": {
        "node": true,
        "es6": true,
        "browser": true,
        "jasmine": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": [ "off" ],
        "indent": [ "error", 4 ],
        "linebreak-style": [ "error", "unix" ],
        "quotes": [ "error", "single" ],
        "semi": [ "error" ],
        "space-before-function-paren": [ "error" ],
        "key-spacing": [ "error" ],
        "space-before-blocks": [ "error" ],
        "array-bracket-spacing": [ "error", "always" ],
        "space-infix-ops": [ "error" ]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
    }
}
