// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

@import "govuk-elements";

// Pensions Header
// Add a body class
// .nhs-bsa-pensions
@include media(tablet) {
	.nhs-bsa-pensions #nhs-global-header {
		background-image: url('#{$path}header-pension-services.svg');
	}
}

// Hide
[hidden],
.display-none {
	display: none;
}

// Link text fix for when
// focussed links that are
// buttons turn blue
a:link:focus:not(.button) {
	color: $white;
}

// Form date
.form-date {
	&-wide {
		.form-group-month {
			width: 160px;
		}
	}
}

// When we have errors
.error {
	.form-group {
		min-width: 90px;
	}
	.currency-input__inner .form-control,
	.block-label {
		border: 4px solid $error-colour;
	}

	.currency-input__inner__unit {
		left: 12px;
		bottom: 8px;
	}
}


// Phase Banner
.phase-banner {
	.phase-tag {
		padding: 2px 5px;
	}
}

// Back Navigation
.back-nav {
	margin-top: 10px;
}

.back-to-previous::before {
	content: '';
    position: relative;
    left: -6px;
    display: inline-block;
    border: 6px solid transparent;
    border-right-color: #0b0c0c;
}

// Print
.nextoblue {
    padding-top: 210px;
}

.print-icon {
    background-image: url('#{$path}bsa/print-2x.svg');
    padding-left: 40px;
}

.icon {
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
}

// Summary
caption.heading-small {
	text-align: left;
}

table.content-table.stack-table.three-column {
	margin-bottom: 50px;
}

// Logout
.log-out-link {
	display: block;
    position: relative;
    font-family: Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #333333;
    text-decoration: none;
	border-bottom: 1px solid;
	float: right;
}

@media (min-width: 641px) {
	.log-out-link {
    	font-size: 16px;
    	line-height: 1.25;
	}
}