// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "../images/";

@import "govuk-elements";

// Pensions Header
// Add a body class
// .nhs-bsa-pensions
@include media(tablet) {
	.nhs-bsa-pensions #nhs-global-header {
		background-image: url('#{$path}header-pension-services.svg');
	}
}

// Hide
[hidden],
.display-none {
	display: none;
}

// Link text fix for when
// focussed links that are
// buttons turn blue
a:link:focus:not(.button) {
	color: $white;
}

// Form date
.form-date {
	&-wide {
		.form-group-month {
			width: 160px;
		}
	}
}

// We need this but at the time it wasn't available
// in our version of the BSA toolkit
// Use .form-control-error to add a red border to .form-control
.form-control-error {
	border: 4px solid $error-colour;
}

.error {
	.form-group {
		min-width: 90px;
	}
	.currency-input__inner .form-control {
		border: 4px solid $error-colour;
	}

	// .currency-input__unit {
	// 	left: 24px;
	// 	bottom: 8px;
	// 	@include media(tablet) {
	// 		left: 30px;
	// 	}
	// }
}

// Phase Banner
.phase-banner {
	.phase-tag {
		padding: 2px 5px;
	}
}

// Print
.nextoblue {
	@include media(tablet) {
		// space above for large screens
    	padding-top: 245px;
    }
}

.notnextoblue {
    padding-top: 45px;
}

.print-link {
	display: inline-block;
	.icon {
		vertical-align: middle;
	}
}

// Summary
caption.heading-small {
	text-align: left;
}

table.content-table.stack-table.three-column {
	margin-bottom: 50px;
}

// Logout
.log-out-link {
	float: right;
	font-size: 80%;
	margin-top: 15px;
	margin-bottom: 15px;
	@include media(tablet) {
		font-size: 16px;
    	line-height: 1.25;
	}
}

// Errors and Validation
.form-group-day,
.form-group-month,
.form-group-year {
	float: left;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
}

.form-date .form-group-day input,
.form-date .form-group-month input,
.form-date .form-group-year input {
	width: 100%;
}

.done-panel {
    background-color: #005EB8;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin: 30px 0;
}

.done-panel h1 {
    padding-top: 0;
    margin: 0;
}

#done-tick {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 4px 20px 4px 4px;
	background-color: #005EB8;
	background-image: url(../images/bsa/done-tick.png);
	background-repeat: no-repeat;
	background-position: center;
}

.print-page {
	float: right;
	margin-top: 45px;
}

.print-icon {
    height: 32px;
	background-image: url("../images/bsa/icon-print.png");
	padding-left: 40px;
}

.icon {
	display: inline-block;
	background-position: 0 0;
	background-repeat: no-repeat;
}
