<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pensions Enquiry Service - NHSBSA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- global_includes -->
    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]>
        <link href="/public/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/main-ie7.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 8]>
        <link href="/public/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/main-ie8.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/elements-page.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/elements-page-ie6.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/elements-page-ie7.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/elements-page-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="/public/stylesheets/vendor/prism.css" media="screen" rel="stylesheet">
    <!--[if gt IE 8]><!--><script src="/public/javascripts/vendor/prism.js"></script><!--<![endif]-->
</head>

<body class="nhs-bsa">
    <!-- header -->
    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <header id="nhs-global-header">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="http://www.nhsbsa.nhs.uk" target="_blank" title="Go to the NHS.UK homepage" id="logo" class="content">
                        <!--[if gte IE 9]><!--><img src="/public/images/bsa_logo.svg" alt="NHS BSA Logo"/><!--<![endif]-->
                        <!--[if lt IE 9]><img src="/public/images/bsa_logo.png" style="width:256px" alt="NHS BSA Logo"/><![endif]-->
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main id="content">
        <!-- phase_banner -->
        <!-- <div class="phase-banner">
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div> -->

        <div class="grid-row">
            <div class="column-two-thirds">
                <form>
                    <h1 class="heading-large">
                        Pensions Enquiry Service
                    </h1>
                    <div class="form-group">
                        <p>Use this service to:</p>
                        <ul class="list list-bullet">
                            <li>find information regarding NHS pensions</li>
                            <li>submit a enquiry form to NHS pensions </li>
                        </ul>
                        <h2 class="heading-small">Before you start</h2>
                        <p>You can not use this service if you are not a NHS member</p>
                        <p>This service only covers enquires on the following areas:</p>
                        <ul class="list list-bullet">
                            <li>retirement pensions</li>
                            <li>estimates of pensions</li>
                            <li>transfers of pensions</li>
                            <li>pensions on divorce and dissolution</li>
                            <li>annual allowance</li>
                            <li>refund of pension benefits</li>
                            <li>bereavement</li>
                            <li>additional benefit</li>
                            <li>nominations, allocations and beneficiaries</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <a class="button button-start" href="pension-enquiry-service1" role="button">Continue</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="group js-footer" id="footer">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <!-- <div class="bsa-footer-links"> -->
                    <h2 class="visuallyhidden">Support links</h2>
                    <ul>
                        <li><a href="https://www.nhsbsa.nhs.uk/our-policies/privacy" target="_blank">
                            Privacy policy and cookies</a></li>
                        <li><a href="https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions" target="_blank">
                            Terms and conditions</a></li>
                    </ul>
                    <p></p>
                    <ul>
                        <li>Built by the
                            <a href="http://www.nhsbsa.nhs.uk" target="_blank">NHS Business Services Authority</a></li>
                    </ul>
                    <p></p>
                    <div class="open-government-licence">
                        <p class="logo">
                            <a target="_blank" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">
                            Open Government Licence</a>
                        </p>
                        <p>
                            All content is available under the
                            <a target="_blank" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">
                            Open Government Licence v3.0</a>, except where otherwise stated
                        </p>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

    <!-- govuk_frontend_toolkit js -->
    <script src="/public/javascripts/vendor/polyfills/bind.js"></script>
    <script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/public/javascripts/govuk/show-hide-content.js"></script>

    <!-- govuk_elements js -->
    <script src="/public/javascripts/govuk/details.polyfill.js"></script>
    <script src="/public/javascripts/application.js"></script>

</body>
</html>
