<div class="tabs">

  <div class="tabs-nav">
    <ul class="tabs-list">
      <li><a href="#tab-1" aria-selected="true">Tab 1</a></li>
      <li><a href="#tab-2">Tab 2</a></li>
      <li><a href="#tab-3">Tab 3</a></li>
    </ul>
  </div>

  <div class="tabs-content">

    <div class="tabs-panel" id="tab-1" role="tabpanel">
      <div class="tabs-panel-inner text">
        <h3>Tab 1</h3>
        <p>Some content would go here for tab 1.</p>
      </div>
    </div>

    <div class="tabs-panel" id="tab-2" aria-hidden="true">
      <div class="tabs-panel-inner text">
        <h3>Tab 2</h3>
        <p>Some content would go here for tab 2.</p>
      </div>
    </div>

    <div class="tabs-panel" id="tab-3" aria-hidden="true">
      <div class="tabs-panel-inner text">
        <h3>Tab 3</h3>
        <p>Some content would go here for tab 3.</p>
      </div>
    </div>

  </div>

</div>
