// Large hit area
// Radio buttons & checkboxes

// By default, block labels stack vertically
.block-label {

  display: block;
  float: none;
  clear: left;
  position: relative;

  padding: (8px $gutter-one-third 9px 50px);
  margin-bottom: $gutter-one-third;

  cursor: pointer; // Encourage clicking on block labels
  background-color: $grey-3;
  border: 8px solid $grey-3;

  // &:focus. &:active, input:hover+label, input:active+label {
  //     background-color: $grey-2;
  // }

  // &:hover{
  //     border: 8px solid $grey-2;
  // }



   // remove 300ms pause on mobile
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  @include media(tablet) {
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    // width: 25%; //- Test : check that text within labels will wrap
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @if ($is-ie == false) or ($ie-version == 9) {
      .js-enabled & {
        margin: 0;
        @include opacity(0);
      }
    }
  }



  .js-enabled & {
    &.selection-button-radio::before {
      content: "";
      border: 2px solid;
    //   background: transparent;
      background: $white;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 3px;
      left: 5px;
      @include border-radius(50%);
    }

    &.selection-button-radio::after {
      content: "";
      border: 7px solid;
      width: 0;
      height: 0;
      position: absolute;
      top: 10px;
      left: 12px;
      @include border-radius(50%);
      @include opacity(0);
    }

    &.selection-button-checkbox::before {
      content: "";
      border: 2px solid;
    //   background: transparent;
      background: $white;
      width: 28px;
      height: 28px;
      position: absolute;
      top: 4px;
      left: 4px;
    }

    &.selection-button-checkbox::after {
      content: "";
      border: solid;
      border-width: 0 0 4px 4px;
      background: transparent;
      width: 13px;
      height: 5px;
      position: absolute;
      top: 14px;
      left: 12px;
      -moz-transform: rotate(-45deg); // Firefox 15 compatibility
      -o-transform: rotate(-45deg); // Opera 12.0 compatibility
      -webkit-transform: rotate(-45deg); // Safari 8 compatibility
      -ms-transform: rotate(-45deg); // IE9 compatibility
      transform: rotate(-45deg);
      @include opacity(0);
    }

    // Focused state
    &.selection-button-radio,
    &.selection-button-checkbox {
        // commented in nhs style
        //   &.focused::before {
        //     // disable in nhs style
        //     @include box-shadow(0 0 0 5px $focus-colour);
        //   }

      // Added in nhs style
      &.focused {
        @include box-shadow(0 0 0 2px $focus-colour);
      }

    //   &.selected {
    //     @include box-shadow(0 0 0 2px $focus-colour);
    //   }

      &:hover{
          @include box-shadow(0 0 0 2px $grey-1);
      }
      // IE8 focus outline should stay as a border around the entire label
      // Lack of padding doesn’t matter as IE8 won’t resize the inputs.
      @include ie-lte(8) {
        &.focused {
          outline: 3px solid $focus-colour;

          input:focus {
            outline: none;
          }
        }
      }
    }

    // Selected state
    &.selection-button-radio,
    &.selection-button-checkbox {
      &.selected::after {
        @include opacity(1);
      }
    }
  }

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

// To stack horizontally, use .inline on parent, to sit block labels next to each other
.inline .block-label {
  clear: none;

  @include media (tablet) {
    margin-bottom: 0;
    margin-right: $gutter;
  }
}
