.button {
  background-color: #009639; }
  .button:hover, .button:focus {
    background-color: #006326; }
  .button:visited {
    background-color: #005922; }
  .button:link:focus {
    color: white; }

.button-print {
  float: right;
  margin-top: 45px; }

@media (min-width: 641px) {
  .nhs-bsa #nhs-global-header {
    background-image: url("/public/fic-assets/img/header-pension-services.svg"); } }

.inline-form-groups .form-group {
  width: auto;
  margin-right: 1rem;
  clear: none; }

.form-control-11-chars {
  width: 11em; }

.form-control-4-chars {
  width: 10rem; }
