{% extends "layout.html" %}

{% block page_title %}Account added - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}
    {% include "includes/account-details.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="done-panel">
                <h1 class="heading-large">New user added</h1>
                <p>Bill’s account for Brighton & Hove Integrated Care Services Ltd. was successfully added.</p>
            </div>
            <a id="button" class="button" href="accounts">View users</a>
            <hr>
            {% include "includes/back-org.html" %}
            
        </div>
    </div>

    
</main>
{% endblock %}
