{% extends "layout.html" %}

{% block page_title %}Account deleted - {{ super() }} - NHSBSA{% endblock %}

{% block content%}
<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group">
                <div class="done-panel">
                    <h1 class="heading-large">
                        Account deleted
                    </h1>
                </div>
                <h2 class="heading-large">Bill’s account was successfully deleted.</h2>
                <div class="form-group">
                    <a id="button" class="button" href="accounts">Continue</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
