
.pagination-simple {
    clear: both;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 2px solid $border-colour;
}

@include media(tablet) {
    .pagination-simple .previous-page,
    .pagination-simple .next-page {
        float: left;
        width: 50%;
    }
    .pagination-simple .next-page {
        float: right;
        text-align: right;
    }
}

.pagination-simple a {
    display: inline-block;
    text-decoration: none !important;
}

.pagination-simple .prefix {
    font-size: 15px;
    color: $grey-1;
}

.pagination-simple .title {
    display: block;
    text-decoration: underline;
}
