{% extends "base.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Documentation</li>
{% endblock %}

{% block title%}
     Documentation
{% endblock %}

{% block subtitle%}
     How to create a prototype page for your product
{% endblock %}

{% block content%}
    <div class="grid-row">

        <div class="column-full">
            <h2 class="heading-large">Prototype Application Components</h2>
            <p>
                The BSA-NHS prototype app is simply based on the nunjucks template engine technology.
            </p>
            <p>
                The views main directory is defined in the ./app/views directory.
            </p>
            <p>
                The main nunjucks-html file where the root html is defined is 'base.html'
            </p>

            <h2 class="heading-large">4 Key Blocks</h2>
            <p>
                In each page you create for your prototype you would need to set text or html for the following nunjuck blocks:
            </p>
            <ul class="list list-bullet">
              <li>breadcrumb</li>
              <li>title</li>
              <li>subtitle</li>
              <li>content</li>
            </ul>

            <div>
                <h3 class="heading-medium">breadcrumb</h3>
                <p>
                    By using the &#123;&#123; super() &#125;&#125; keyord the block will display the defined content as defined in the breadcrumb block in the base.html parent file.
                    The extra html 'li' tag will be appended like in the following example:
                </p>
                <pre class="prettyprint lang-html">
                    <code>
                        &#123;&#37; block breadcrumb &#37;&#125;
                            &#123;&#123; super() &#125;&#125;
                             &lt;li&gt;&lt;a href=&quot;/docs&quot;&gt;Documentation&lt;/a&gt;&lt;/li&gt;
                        &#123;&#37; endblock  &#37;&#125;
                    </code>

                </pre>
            </div>
            <div>
                <h3 class="heading-medium">title</h3>
                <p>
                    The 'title' block would only generally accept plain text which will populate the page main 'h1' tag
                </p>
                <pre class="prettyprint lang-html">
                    <code>
                        &#123;&#37; block title &#37;&#125;
                            Some title
                        &#123;&#37; endblock  &#37;&#125;
                    </code>

                </pre>
            </div>
            <div>
                <h3 class="heading-medium">subtitle</h3>
                <p>
                    Similarly, the 'subtitle' block would only generally accept plain text which will populate the 'p' tag following the page main 'h1' tag
                </p>
                <pre class="prettyprint lang-html">
                    <code>
                        &#123;&#37; block subtitle &#37;&#125;
                            Some subtitle text goes here
                        &#123;&#37; endblock  &#37;&#125;
                    </code>

                </pre>
            </div>
            <div>
                <h3 class="heading-medium">content</h3>
                <p>
                    The 'content' block will display the actual page content which in page will reside between the page 'h1' block and 'footer' tags:
                </p>
                <pre class="prettyprint lang-html">
                    <code>

                        &#123;&#37; block content &#37;&#125;
                            &lt;div class=&quot;grid-row&quot;&gt;
                                &lt;div class=&quot;column-one-half&quot;&gt;
                                    &lt;h2 class=&quot;heading-large&quot;&gt;Based on the Nunjucks template engine&lt;/h2&gt;
                                    &lt;ul class=&quot;list list-bullet&quot;&gt;
                                      &lt;li&gt;See the &lt;a href=&quot;https://mozilla.github.io/nunjucks/templating.html&quot; target=&quot;_blank&quot;&gt;Nunjucks Templating Documentation (open in a new window)&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;Node.js &amp;amp; Express-based app&lt;/li&gt;
                                      &lt;li&gt;Automatically pulls BSA's &lt;a href=&quot;https://gitlab00.node.consul/bsa-design/nhs-template&quot; target=&quot;_blank&quot;&gt;NHS-TEMPLATE&lt;/a&gt; latest version&lt;/li&gt;
                                      &lt;li&gt;Focus on your product's prototype rather than on configuration.&lt;/li&gt;
                                    &lt;/ul&gt;

                                &lt;/div&gt;

                                &lt;div class=&quot;column-one-half&quot;&gt;
                                    &lt;h2 class=&quot;heading-large&quot;&gt;4 blocks only&lt;/h2&gt;
                                    &lt;p&gt;
                                        Create a page only defining the following Nunjucks' blocks:
                                    &lt;/p&gt;
                                    &lt;ul class=&quot;list list-bullet&quot;&gt;
                                      &lt;li&gt;Breadcrumb&lt;/li&gt;
                                      &lt;li&gt;Title&lt;/li&gt;
                                      &lt;li&gt;Subtitle&lt;/li&gt;
                                      &lt;li&gt;Content&lt;/li&gt;
                                    &lt;/ul&gt;
                                    &lt;p&gt;
                                        Read more on how to &lt;a href=&quot;/docs&quot;&gt;create a new prototype page&lt;/a&gt; on the documentation page
                                    &lt;/p&gt;

                                &lt;/div&gt;

                            &lt;/div&gt;
                        &#123;&#37; endblock  &#37;&#125;
                    </code>

                </pre>
            </div>
            <div>
                <h3 class="heading-medium">A full example</h3>
                <p>
                    Suppose you want to create a new endpoint '/documentation'.

                    Create a new file named 'documentation.html' in the './app/views'. Make sure to extend the 'base.html' parent file as following:
                </p>
                <pre class="prettyprint lang-html">
                    <code>

                        &#123;&#37; extends 'base.html' &#37;&#125;

                        &#123;&#37; block breadcrumb &#37;&#125;
                            &#123;&#123; super() &#125;&#125;
                             &lt;li&gt;&lt;a href=&quot;/docs&quot;&gt;Documentation&lt;/a&gt;&lt;/li&gt;
                        &#123;&#37; endblock  &#37;&#125;

                        &#123;&#37; block title &#37;&#125;
                            Some title
                        &#123;&#37; endblock  &#37;&#125;

                        &#123;&#37; block subtitle &#37;&#125;
                            Some subtitle text goes here
                        &#123;&#37; endblock  &#37;&#125;

                        &#123;&#37; block content &#37;&#125;
                            &lt;div class=&quot;grid-row&quot;&gt;
                                &lt;div class=&quot;column-one-half&quot;&gt;
                                    &lt;h2 class=&quot;heading-large&quot;&gt;Based on the Nunjucks template engine&lt;/h2&gt;
                                    &lt;ul class=&quot;list list-bullet&quot;&gt;
                                      &lt;li&gt;See the &lt;a href=&quot;https://mozilla.github.io/nunjucks/templating.html&quot; target=&quot;_blank&quot;&gt;Nunjucks Templating Documentation (open in a new window)&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;Node.js &amp;amp; Express-based app&lt;/li&gt;
                                      &lt;li&gt;Automatically pulls BSA's &lt;a href=&quot;https://gitlab00.node.consul/bsa-design/nhs-template&quot; target=&quot;_blank&quot;&gt;NHS-TEMPLATE&lt;/a&gt; latest version&lt;/li&gt;
                                      &lt;li&gt;Focus on your product's prototype rather than on configuration.&lt;/li&gt;
                                    &lt;/ul&gt;

                                &lt;/div&gt;

                                &lt;div class=&quot;column-one-half&quot;&gt;
                                    &lt;h2 class=&quot;heading-large&quot;&gt;4 blocks only&lt;/h2&gt;
                                    &lt;p&gt;
                                        Create a page only defining the following Nunjucks' blocks:
                                    &lt;/p&gt;
                                    &lt;ul class=&quot;list list-bullet&quot;&gt;
                                      &lt;li&gt;Breadcrumb&lt;/li&gt;
                                      &lt;li&gt;Title&lt;/li&gt;
                                      &lt;li&gt;Subtitle&lt;/li&gt;
                                      &lt;li&gt;Content&lt;/li&gt;
                                    &lt;/ul&gt;
                                    &lt;p&gt;
                                        Read more on how to &lt;a href=&quot;/docs&quot;&gt;create a new prototype page&lt;/a&gt; on the documentation page
                                    &lt;/p&gt;

                                &lt;/div&gt;

                            &lt;/div&gt;
                        &#123;&#37; endblock  &#37;&#125;
                    </code>

                </pre>
                <p>
                    At this point create an endpoint in the ./app/routes.js file.
                </p>
                <pre class="prettyprint lang-js">
                    <code>
                        const express = require('express');
                        const router = express.Router();

                        router.get('/', (req, res) => {
                            res.render('index.html');
                        });

                        // add this new route
                        // add this new route
                        router.get('/documentation', (req, res) => {
                            res.render('documentation.html');
                        });


                        module.exports = router;
                    </code>
                </pre

            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}
