{% extends "base.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Form Example</li>
{% endblock %}

{% block title%}
     Form Example
{% endblock %}

{% block subtitle%}
     Page featuring a form submitting data
{% endblock %}

{% block content%}
    <div class="grid-row">

        <div class="column-full">
            <h2 class="heading-large">Prototype Application Components</h2>
            <form name="myForm" method="post" action="/form-example">
                <fieldset>
                    <legend>General User Info</legend>
                    <br />
                    <div class="form-group">
                        <label class="form-label" for="firstName">First name</label>
                        <input class="form-control" id="firstName" name="firstName" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="lastName">Last name</label>
                        <input class="form-control" id="lastName" name="lastName" type="text">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Do you have any hobbies?</legend>
                    <br />
                    <label class="block-label selection-button-checkbox" for="hobby-1">
                      <input id="hobby-1" name="hobby" type="checkbox" value="Squash">
                      Squash
                    </label>

                    <label class="block-label selection-button-checkbox" for="hobby-2">
                      <input id="hobby-2" name="hobby" type="checkbox" value="Football">
                      Football
                    </label>

                    <label class="block-label selection-button-checkbox" for="hobby-3">
                      <input id="hobby-3" name="hobby" type="checkbox" value="Gardening">
                      Gardening
                    </label>
                </fieldset>
                <br />
                <div class="form-group">
                    <input class="button" type="submit" value="Save and continue">
                </div>
            </form>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}
