{% extends "layout.html" %}

{% block page_title %}
  NHS Business Services Authority elements
{% endblock %}

{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        NHSBSA elements
      </h1>

      <p class="lede">
        This guide shows how to make your service look consistent with the rest of NHS.
      </p>

    </div>
  </div>

  {% include "includes/elements_navigation.html" %}


</main><!-- / #content -->
{% endblock %}

{% block body_end %}
  <!-- NHS elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {% include "includes/scripts.html" %}
{% endblock %}
