{% extends "base.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Make Payment</li>
{% endblock %}

{% block title%}
    Submit contribution
{% endblock %}

{% block subtitle%}
    
{% endblock %}

{% block content%} 
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group">
                <h3 class="heading-medium">What month is this contribution for?
                <span class="form-hint">For example February 2017</span></h3>
                <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                <div class="form-group">
                    <label class="form-label" for="month">Month</label>
                    <input class="form-control" id="month" name="month" type="text" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="year">Year</label>
                    <input class="form-control" id="year" name="year" type="text" />
                </div>
            </div>

            <div class="form-group">
                <h3 class="heading-medium">What date do you want to submit your contributions?
                <span class="form-hint">For example 16 March 2017</span></h3>
                <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                <div class="form-group">
                    <label class="form-label" for="day-2">Day</label>
                    <input class="form-control" id="day-2" name="day-2" type="text" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="month-2">Month</label>
                    <input class="form-control" id="month-2" name="month-2" type="text" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="year-2">Year</label>
                    <input class="form-control" id="year-2" name="year-2" type="text" />
                </div>
            </div>

            <div class="form-group">
                <p>Payment will be taken by direct debit within 2 working days.</p>

                <div class="notice">
                    <i class="icon icon-important">
                        <span class="visually-hidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        16 of March 2017 is the latest you can submit so you do not miss the deadline.
                    </strong>
                </div>
            </div>

            <div class="form-group">
                <p>If you submit this payment after the 16 March you will receive an administration fee of £75 pounds as well as interest for each day the payment is late.</p>

                <form>
                  <fieldset>
                    <legend class="visually-hidden"></legend>
                    <label class="block-label selection-button-checkbox" for="understand-1">
                        <input id="understand-1" name="understand" type="checkbox" value="understand" />
                        I understand
                    </label>
                  </fieldset>
                </form>
            </div>

            <div class="form-group">
                <h3 class="heading-medium">
                    Contribution payment
                </h3>
                
                <form>
                    <div class="form-group">
                        <fieldset>
                            <legend class="visually-hidden"></legend>
                            <label class="block-label selection-button-radio" for="example-cont-payment-staff">
                                <input id="example-cont-payment-staff" type="radio" name="radio-contact-group" value="Yes" />
                                Staff
                            </label>
                        
                            <label class="block-label selection-button-radio" for="example-cont-payment-gp">
                                <input id="example-cont-payment-gp" type="radio" name="radio-contact-group" value="No" />
                                GP
                            </label>
                        </fieldset>
                    </div>
                </form>
            </div>

            <div class="form-group">
                <a class="button" href="contributions-and-payment" role="button">Next step</a>
            </div>
        </div>

        <!-- <div class="column-one-third">
            <p>Content</p>
        </div> -->

    </div>
{% endblock %}