{% extends "base.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Make Payment</li>
{% endblock %}

{% block mainheader %}
<h1 class="heading-xlarge">
    {% block title %}
    Submit contribution
    {% endblock %}
</h1>
{% endblock %}

{% block subtitle%}
    
{% endblock %}

{% block content%} 
    <div class="grid-row">
        <!-- EA 
        <div class="column-full">
            <div class="form-group">
                <h2 class="heading-large">Employing Authority (EA) code: EA5955</h2>
                <h2 class="heading-large">Marie Curie Cancer Care</h2>
            </div>
        </div> -->

        <div class="column-two-thirds">
            <form id="make-payment" class="form" method="get" action="" novalidate="novalidate">
                <div id="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1"></div>

                <div class="form-group">
                    <h3 class="heading-medium">What month is this contribution for?
                    <span class="form-hint">For example February 2017</span></h3>
                    <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                    <div class="form-group">
                        <label class="form-label" for="month">Month
                            <span class="error-message"></span>
                        </label>
                        <input class="form-control" id="month" name="month" type="text" required="" aria-required="true" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="year">Year
                            <span class="error-message"></span>
                        </label>
                        <input class="form-control" id="year" name="year" type="text" required="" aria-required="true" />
                    </div>
                </div>

                <div class="form-group">
                    <h3 class="heading-medium">What date do you want to submit your contributions?
                    <span class="form-hint">For example 16 March 2017</span></h3>
                    <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                    <div class="form-group">
                        <label class="form-label" for="day-2">Day
                            <span class="error-message"></span>
                        </label>
                        <input class="form-control" id="day-2" name="day-2" type="text" required="" aria-required="true" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="month-2">Month
                            <span class="error-message"></span>
                        </label>
                        <input class="form-control" id="month-2" name="month-2" type="text" required="" aria-required="true" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="year-2">Year
                            <span class="error-message"></span>
                        </label>
                        <input class="form-control" id="year-2" name="year-2" type="text" required="" aria-required="true" />
                    </div>
                </div>

                <div class="form-group">
                    <p>Payment will be taken by direct debit within 2 working days.</p>

                    <div class="notice">
                        <i class="icon icon-important">
                            <span class="visually-hidden">Warning</span>
                        </i>
                        <strong class="bold-small">
                            16 of March 2017 is the latest you can submit so you do not miss the deadline.
                        </strong>
                    </div>
                </div>

                <div class="form-group">
                    <fieldset>
                        <p>If you submit this payment after the 16 March you will receive an administration fee of £75 pounds as well as interest for each day the payment is late.</p>

                        <!-- <legend class="visually-hidden"></legend> -->
                        <span class="error-message"></span>
                        <label class="block-label selection-button-checkbox" for="understand">
                            <input class="form-control" id="understand" name="understand" type="checkbox" required="" aria-required="true" />
                            I understand
                        </label>
                    </fieldset>
                </div>

                <!-- GP 
                <div class="form-group">
                    <h3 class="heading-medium">
                        Contribution payment
                    </h3>
                    
                    <form>
                        <div class="form-group">
                            <fieldset>
                                <legend class="visually-hidden"></legend>
                                <label class="block-label selection-button-radio" for="example-cont-payment-staff">
                                    <input id="example-cont-payment-staff" type="radio" name="radio-contact-group" value="Yes" />
                                    Staff
                                </label>
                            
                                <label class="block-label selection-button-radio" for="example-cont-payment-gp">
                                    <input id="example-cont-payment-gp" type="radio" name="radio-contact-group" value="No" />
                                    GP
                                </label>
                            </fieldset>
                        </div>
                    </form>
                </div> -->

                <!-- CSV 
                <div class="form-group">
                    <h3 class="heading-medium">
                        Use this to upload your pension contributions file
                    </h3>
                    <div class="form-group">
                        <label class="form-label" for="file-input">
                            Accepts .csv, .xls, .xlsx and .ods file formats
                        </label>
                        <input type="file" id="file-input">
                    </div>
                </div> -->

                <div class="form-item-wrapper">
                    <div class="form-group">
                        <input id="next-button" class="button" type="submit" value="Next step" />
                    </div>
                </div>
                <!-- <a class="button" href="contributions-and-payment" role="button">Next step</a> -->
            </form>
        </div>

        <!-- <div class="column-one-third">
            <p>Content</p>
        </div> -->

    </div>

    <script type="text/javascript" language="javascript">
		/*<![CDATA[*/            
        $("#make-payment").validate({
            rules: {
                understand: {
                    required: true
                }
            },
            focusInvalid: false, // disables focusing of invalid elements
            invalidHandler: function(form, validator) {
                var errors = validator.numberOfInvalids();

                if (errors) {
                    $("html, body").animate({ scrollTop: 0 }, "fast");
                }
            },
            showErrors: function(errorMap, errorList) {
                var msg = "";
                var errorClass; // element required for error class
                var errorMsg; // element required for error message
                var errorMsgLength; // element required for error message

                if (errorList.length !== 0) {
                    msg = "<h1 class=\"heading-medium error-summary-heading\" id=\"error-summary-heading\">Message to alert the user to a problem goes here</h1><p>Optional description of the errors and how to correct them</p><ul class=\"error-summary-list\">"
                    for ( i = 0; this.errorList[ i ]; i++ ) {
                        error = this.errorList[ i ];
                        // msg += "<li><a href=\"#" + error.element.id + "\"> " + error.message + "</a></li>";
                        msg += "<li><a href=\"#" + error.element.id + "\"> " + "<span class=\"error-message\">" + error.message + "</span>" + "</a></li>";
                        if (error.element.id == "understand") {
							errorClass = error.element.parentElement.parentElement.parentElement;
							errorMsg = error.element.parentElement.previousElementSibling;
						} else {
                            errorClass = error.element.parentElement;
                            errorMsgLength = error.element.previousElementSibling.children.length;
                            errorMsgLength = errorMsgLength - 1;
                            errorMsg = error.element.previousElementSibling.children[errorMsgLength];
                        }
                        $("#error-summary").addClass("error-summary"); // adds class="error-summary"
                        $(errorClass).addClass("error"); // adds an "error" class onto relevant element
                        $(errorMsg).html(error.message); // adds an error message onto relevant element
                    }
                    msg += "</ul>";
                    + "</div>";
                } else {
                    $("#error-summary").removeClass("error-summary"); // removes class="error-summary" (css hidden)
                }

                $("#error-summary").html(msg); // place error text inside summary-box
                this.defaultShowErrors(); // also show default labels from errorPlacement callback
                $("label.error").remove(); // removes default validation error messages from the DOM

                $("input.form-control.valid").each(function() {
                    var parentElement;
                    var errorSpan;
                    var previousElementSibling;

                    if (this.id != "understand") {
                        parentElement = $(this.parentElement); // div.form-group.error
                        errorSpan = this.previousElementSibling.children.length;
                        errorSpan = errorSpan - 1;
                        previousElementSibling = this.previousElementSibling.children[errorSpan]; // span.error-message
                    } else {
                        parentElement = $(this.parentElement.parentElement.parentElement);  // div.form-group.error
                        errorSpan = this.parentElement.parentElement.children.length;
                        errorSpan = errorSpan - 2;
                        previousElementSibling = this.parentElement.parentElement.children[errorSpan]; // span.error-message
                    }

                    if (parentElement.hasClass("error")) {
                        parentElement.removeClass("error"); // removes class="error"
                    }
                    if (previousElementSibling.innerHTML != "") {
                        previousElementSibling.innerHTML = ""; // removes front-end error-message
                    }
                });
            }
        });
        /*]]>*/
    </script>

{% endblock %}