{% extends "base.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Make Payment</li>
    <!-- <li>Employing Authority Contributions</li> -->
{% endblock %}

{% block mainheader %}
<h1 class="heading-xlarge">
    {% block title %}
    Submit contribution
    {% endblock %}
</h1>
{% endblock %}

{% block subtitle%}
    
{% endblock %}

{% block content%} 
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group">
                <h3 class="heading-medium">What month is this contribution for?
                <span class="form-hint">For example February 2017</span></h3>
                <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                <div class="form-group">
                    <label class="form-label" for="month">Month</label>
                    <input class="form-control" id="month" name="month" type="text" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="year">Year</label>
                    <input class="form-control" id="year" name="year" type="text" />
                </div>
            </div>

            <div class="form-group">
                <h3 class="heading-medium">What date do you want to submit your contributions?
                <span class="form-hint">For example 16 March 2017</span></h3>
                <!-- Use .form-group to create spacing when wrapping label and input pairs -->
                <div class="form-group">
                    <label class="form-label" for="day-2">Day</label>
                    <input class="form-control" id="day-2" name="day-2" type="text" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="month-2">Month</label>
                    <input class="form-control" id="month-2" name="month-2" type="text" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="year-2">Year</label>
                    <input class="form-control" id="year-2" name="year-2" type="text" />
                </div>
            </div>

            <div class="form-group">
                <p>Payment will be taken by direct debit within 2 working days.</p>

                <div class="notice">
                    <i class="icon icon-important">
                        <span class="visually-hidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        16 of March 2017 is the latest you can submit so you do not miss the deadline.
                    </strong>
                </div>
            </div>

            <div class="form-group">
                <p>If you submit this payment after the 16 March you will receive an administration fee of £75 pounds as well as interest for each day the payment is late.</p>

                <form>
                  <fieldset>
                    <legend class="visually-hidden"></legend>
                    <label class="block-label selection-button-checkbox" for="understand-1">
                        <input id="understand-1" name="understand" type="checkbox" value="understand" />
                        I understand
                    </label>
                  </fieldset>
                </form>
            </div>

            <div class="form-group">
                <h3 class="heading-medium">
                    Contribution payment
                </h3>
                
                <form>
                    <div class="form-group">
                        <fieldset>
                            <legend class="visually-hidden"></legend>
                            <label class="block-label selection-button-radio" for="example-cont-payment-staff">
                                <input id="example-cont-payment-staff" type="radio" name="radio-contact-group" value="Yes" />
                                Staff
                            </label>
                        
                            <label class="block-label selection-button-radio" for="example-cont-payment-gp">
                                <input id="example-cont-payment-gp" type="radio" name="radio-contact-group" value="No" />
                                GP
                            </label>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>

        <!-- <div class="form-group">
            <h3 class="heading-medium">
                Use this to upload your pension contributions file
            </h3>
            <div class="form-group">
                <label class="form-label" for="file-input">
                    Accepts .csv, .xls, .xlsx and .ods file formats
                </label>
                <input type="file" id="file-input">
            </div>
        </div> -->

        <!-- ea -->
        <!-- <div class="form-group">
            <label class="form-label" for="full-name-f1">Search for an Employing Authority (EA) code</label>
            <form>
                <input class="form-control" id="full-name-f1" type="text" />
                <button type="submit"><span class="visuallyhidden">Search</span></button>
            </form>
        </div>

        <div class="form-group">
            <div class="column-full">                        
                <table>
                    <thead>
                        <tr>
                            <th scope="col">History</th>
                            <th scope="col">Organisation</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="previous-payments">EA5955</a></td>
                            <td>Hesketh House, Fleetwood</td>
                            <td><span>outstanding</span></td>
                            <td><a href="make-payments">Submit</a></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA2331</a></td>
                            <td>Stella House, Newcastle</td>
                            <td><span>submitted</span></td>
                            <td><a href="make-payments">Edit</a></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA4411</a></td>
                            <td>Random House Name, Liverpool</td>
                            <td><span>submitted</span></td>
                            <td><a href="make-payments">Edit</a></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA2911</a></td>
                            <td>Random Trust Name, London</td>
                            <td><span>completed</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>EA3008</td>
                            <td>NHS Cheetham Health Centre, Manchester</td>
                            <td><span>outstanding</span></td>
                            <td><a href="make-payments">Submit</a></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA5000</a></td>
                            <td>Random Hospital, Rochdale</td>
                            <td><span>outstanding</span></td>
                            <td><a href="make-payments">Submit</a></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA8280</a></td>
                            <td>Another Random Trust Name, Liverpool</td>
                            <td><span>completed</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA9143</a></td>
                            <td>Marie Curie Cancer Care</td>
                            <td><span>outstanding</span></td>
                            <td><a href="make-payments">Submit</a></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA1195</a></td>
                            <td>Another Trust in Fleetwood</td>
                            <td><span>outstanding</span></td>
                            <td><a href="make-payments">Submit</a></td>
                        </tr>
                        <tr>
                            <td><a href="previous-payments">EA3000</a></td>
                            <td>Made Up Name Trust, Manchester</td>
                            <td><span>submitted</span></td>
                            <td><a href="make-payments">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        <!-- end of ea -->

        <div class="form-group">
            <a class="button" href="contributions-and-payment" role="button">Next step</a>
        </div>

        <!-- <div class="column-one-third">
            <p>Content</p>
        </div> -->

    </div>
{% endblock %}