{% extends "base.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Session ended</li>
{% endblock %}

{% block title%}
    Sorry, you'll have to start again
{% endblock %}

{% block subtitle%}
{% endblock %}

{% block content%}

	<div class="text">
	    <p>Your session automatically ends if you don't use the service for 30 minutes.</p>
	    <p>We do this for your security. We haven't saved any personal information you entered.</p>
	</div>

    <a class="button button-get-started" href="/start">Start again</a>

{% endblock %}