{% extends "base.html" %}

{% block breadcrumb %}
    {{ super() }}
    <li>Start</li>
{% endblock %}

{% block title%}
     Submit your monthly NHS Pension Scheme Contributions
{% endblock %}

{% block subtitle%}
{% endblock %}

{% block content%}
    <p>Use this service to:</p>

    <ul class="list-bullet">
        <li>submit your employee and employer contributions</li>
        <li>submit any adjustments from previous months</li>
        <li>view previously submitted contributions</li>
    </ul>

    <a class="button button-get-started" href="login">Start now</a>
{% endblock %}