{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %} Contribution details {% endblock %}

{% block afterHeader %}
{% include "nhsbsa/includes/financial-information-collection.html" %}
{% endblock %}

{% block content %}

<div id="content" role="main" class="demo-only add-log-out">

    <div class="back-nav" role="navigation">
        <a class="top-back-button back-to-previous" href="#">Back</a>
    </div>

    <h1 class="heading-xlarge"><span class="get-cookie" data-cookie-name="payingMonth"></span> 2017 contribution details</h1>

    <div class="multiple-ea display-none">
        <h2 class="heading-large">Employing Authority (EA) code: <span class="get-cookie" data-cookie-name="eaCode">&nbsp;</span></h2>
        <h2 class="heading-large">Marie Curie Cancer Care</h2>
    </div>

    <div class="text">
        <div class="validation-summary display-none">
            <p>Some questions have not been answered correctly.<br />Please see the errors below</p>
        </div>
    </div>

    <form action="summary" method="get" class="form form-to-validate" id="contributions-and-payment" novalidate="novalidate">

        <div class="form-item-wrapper error-layer staffgps">
            <div class="form-group">
                <label class="form-label" for="no-of-scheme-members">Number of scheme members</label>
                <p class="validation-message display-none">Value entered is invalid</p>
                <input type="text" id="no-of-scheme-members" name="no-of-scheme-members" value="" class="form-control form-control-5-chars validate-text-input validate-numeric">
            </div>
        </div>

        <div class="form-item-wrapper error-layer">
            <div class="form-group">
                <label class="form-label" for="total-pensionable-pay">Total pensionable pay</label>
                <p class="validation-message display-none">Amount you have entered is incorrect</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="tel" id="total-pensionable-pay" name="total-pensionable-pay" value="" class="form-control form-control-11-chars validate-text-input validate-numeric">
                </div>
            </div>
        </div>

        <div class="form-item-wrapper error-layer">
            <div class="form-group">
                <label class="form-label" for="employee-contributions">Employee contributions</label>
                <p class="validation-message display-none">Employee contributions needs to be within 5% and 14.5% of the Total pensionable pay</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="text" id="employee-contributions" name="employee-contributions" value="" class="form-control form-control-11-chars validate-text-input validate-numeric">
                </div>
            </div>
        </div>

        <div class="form-item-wrapper error-layer">
            <div class="form-group">
                <label class="form-label" for="employer-contributions">Employer contributions</label>
                <p class="validation-message display-none">Employer contributions cannot be less than 14% of the Total pensionable pay</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="text" id="employer-contributions" name="employer-contributions" value="" class="form-control form-control-11-chars validate-text-input validate-numeric">
                </div>
            </div>
        </div>

        <div class="form-item-wrapper error-layer">
            <div class="form-group">
                <label class="form-label" for="employee-avcs">Employee added years</label>
                <p class="validation-message display-none">Amount you have entered is incorrect</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="text" id="employee-avcs" name="employee-avcs" value="" class="form-control form-control-11-chars">
                </div>
            </div>
        </div>

        <div class="form-item-wrapper error-layer">
            <div class="form-group">
                <label class="form-label" for="additional-pension">Additional pension</label>
                <p class="validation-message display-none">Amount you have entered is incorrect</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="text" id="additional-pension" name="additional-pension" value="" class="form-control form-control-11-chars">
                </div>
            </div>
        </div>


        <div class="form-item-wrapper error-layer">
            <div class="form-group">
                <label class="form-label" for="errbo" title="Early Retirement Reduction Buy Out">Early Retirement Reduction Buy Out (ERRBO)</label>
                <p class="validation-message display-none">Amount you have entered is incorrect</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="text" id="errbo" name="errbo" value="" class="form-control form-control-11-chars">
                </div>
            </div>
        </div>

        <div class="inline-form-groups error-layer">
            <div class="form-groups validate-radio-input" data-validate-radio-input="outstanding-payments">
                <fieldset>
                    <legend class="form-label label-like">Do you need to make an adjustment?</legend>
                    <p class="validation-message outstanding-payments-error-message display-none">Please pick an option to continue</p>
                    <div class="form-group">
                        <label class="nhsbsa-radio js-toggle" for="add-outstanding-payments" data-show="#outstanding-payments-panel">
                            <input type="radio" name="outstanding-payments" id="add-outstanding-payments" value="yes" />
                            <span class="input-text">yes</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="nhsbsa-radio js-toggle" for="no-outstanding-payments" data-hide="#outstanding-payments-panel">
                            <input type="radio" name="outstanding-payments" id="no-outstanding-payments" value="no" checked="checked" />
                            <span class="input-text">no</span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="js-hidden hidden-panel panel-indent" id="outstanding-payments-panel">

            <div class="form-item-wrapper error-layer">
                <div class="inline-form-groups">
                    <fieldset>
                        <legend class="form-label-bold">When is this adjustment for?</legend>
                        <p class="form-hint">For example September 2016</p>
                        <p class="validation-message display-none">Please fill in all fields</p>
                        <div class="form-group">
                            <label class="form-label" for="adjustment-month">Month</label>
                            <input class="form-control form-control-11-chars typeahead" id="adjustment-month" type="text" maxlength="11">
                            <script type="text/javascript">
                                typeAheadList = [
                                    'January',
                                    'February',
                                    'March',
                                    'April',
                                    'May',
                                    'June',
                                    'July',
                                    'August',
                                    'September',
                                    'October',
                                    'November',
                                    'December'
                                ]
                            </script>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="adjustment-year">Year</label>
                            <input class="form-control form-control-4-chars validate-secondary-text-input" id="adjustment-year" type="text" min="0">
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="form-item-wrapper error-layer">

                <div class="form-group">
                    <label class="form-label" for="employee-contributions-adjustment">Employee contributions</label>
                    <p class="validation-message display-none">Amount you have entered is incorrect</p>
                    <div class="prefixed-input">
                        <span class="prefix-text">&pound;</span>
                        <input type="text" id="employee-contributions-adjustment" name="employee-contributions-adjustment" value="" class="form-control form-control-11-chars at-least-one">
                    </div>
                </div>

            </div>


            <div class="form-item-wrapper error-layer">
                <div class="form-group">
                    <label class="form-label" for="employer-contributions-adjustment">Employer contributions</label>
                    <p class="validation-message display-none">Amount you have entered is incorrect</p>
                    <div class="prefixed-input">
                        <span class="prefix-text">&pound;</span>
                        <input type="text" id="employer-contributions-adjustment" name="employer-contributions-adjustment" value="" class="form-control form-control-11-chars at-least-one">
                    </div>
                </div>
            </div>

            <div class="form-item-wrapper error-layer">
                <div class="form-group">
                    <label class="form-label" for="employee-avcs-adjustment">Employee added years</label>
                    <p class="validation-message display-none">Amount you have entered is incorrect</p>
                    <div class="prefixed-input">
                        <span class="prefix-text">&pound;</span>
                        <input type="text" id="employee-avcs-adjustment" name="employee-avcs-adjustment" value="" class="form-control form-control-11-chars at-least-one">
                    </div>
                </div>
            </div>

            <div class="form-item-wrapper error-layer">
                <div class="form-group">
                    <label class="form-label" for="additional-pension-adjustment">Additional pension</label>
                    <p class="validation-message display-none">Amount you have entered is incorrect</p>
                    <div class="prefixed-input">
                        <span class="prefix-text">&pound;</span>
                        <input type="text" id="additional-pension-adjustment" name="additional-pension-adjustment" value="" class="form-control form-control-11-chars at-least-one">
                    </div>
                </div>
            </div>

            <div class="form-item-wrapper error-layer">
                <div class="form-group">
                <label class="form-label" for="errbo-adjustment" title="Early Retirement Reduction Buy Out">Early Retirement Reduction Buy Out (ERRBO)</label>
                <p class="validation-message display-none">Amount you have entered is incorrect</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="text" id="errbo-adjustment" name="errbo-adjustment" value="" class="form-control form-control-11-chars at-least-one">
                </div>
                </div>
            </div>

        </div>

        <div class="form-item-wrapper error-layer">
            <div class="form-group">
                <label class="form-label" for="total-amount-debited">Total amount to be debited</label>
                <p class="validation-message display-none">Amount you have entered is incorrect</p>
                <div class="prefixed-input">
                    <span class="prefix-text">&pound;</span>
                    <input type="text" id="total-amount-debited" name="total-amount-debited" value="" class="form-control form-control-11-chars validate-text-input validate-numeric">
                </div>
            </div>
        </div>

        <div class="form-item-wrapper">
            <div class="form-group">
                <button class="button">Next step</button>
            </div>
        </div>

    </form>

    <div class="pagination-simple">
        <div>
            <a href="make-payment" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Schedule your contribution</span>
            </a>
        </div>
    </div>

</div>

{% endblock %}


