{% extends 'templates/nhs_blank_layout.html' %}

{% block pageTitle %} Service Feedback {% endblock %}

{% block afterHeader %}

{% endblock %}

{% block content %}

<div id="content" role="main" class="demo-only">


    <h1 class="heading-xlarge">Service feedback form</h1>
    <p>This is a satisfaction survey and will help us improve our service.</p>

    <div class="text">
        <div class="validation-summary display-none">
            <p>Some questions have not been answered correctly.<br />Please see the errors below</p>
        </div>
    </div>

    <form action="feedback-thank-you" method="get" class="form form-to-validate" id="feedback-form" novalidate="novalidate">

        <div class="error-layer">
            <div class="form-groups validate-radio-input" data-validate-radio-input="service-rating">
                <fieldset>
                    <legend class="form-label-bold label-like">Overall, how did you feel about this service?</legend>
                    <p class="validation-message outstanding-payments-error-message display-none">Please pick an option to continue</p>
                    <div class="form-group">
                        <label class="nhsbsa-radio" for="very-satisfied">
                            <input type="radio" name="service-rating" id="very-satisfied" value="0" />
                            <span class="input-text">Very satisfied</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="nhsbsa-radio" for="satisfied">
                            <input type="radio" name="service-rating" id="satisfied" value="1" />
                            <span class="input-text">Satisfied</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="nhsbsa-radio" for="neutral">
                            <input type="radio" name="service-rating" id="neutral" value="2" />
                            <span class="input-text">Neither satisfied nor dissatisfied</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="nhsbsa-radio" for="dissatisfied">
                            <input type="radio" name="service-rating" id="dissatisfied" value="3" />
                            <span class="input-text">Dissatisfied</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="nhsbsa-radio" for="very-dissatisfied">
                            <input type="radio" name="service-rating" id="very-dissatisfied" value="4" />
                            <span class="input-text">Very dissatisfied</span>
                        </label>
                    </div>

                </fieldset>
            </div>
        </div>

        <div class="error-layer">
            <div class="form-item-wrapper">
                <div class="form-group">
                    <label class="form-label-bold" for="how-to-improve">
                        How could we improve this service?
                    </label>
                    <textarea id="how-to-improve" class="form-control" rows="20" style="resize: vertical"></textarea>
                </div>
            </div>

        </div>


        <div class="form-item-wrapper">
            <div class="form-group">
                <button class="button">Submit</button>
            </div>
        </div>

    </form>

    <div class="pagination-simple">
        <div>

        </div>
    </div>

</div>

{% endblock %}


