{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %} Make payment {% endblock %}

{% block afterHeader %}
{% include "nhsbsa/includes/financial-information-collection.html" %}
{% endblock %}

{% block content %}

<div id="content" role="main" class="demo-only add-log-out">

    <div class="back-nav" role="navigation">
        <a class="top-back-button back-to-previous" href="#">Back</a>
    </div>

    <h1 class="heading-xlarge">Make payment</h1>
    <h2 class="heading-large">Employing Authority code (EA): <span class="get-cookie" data-cookie-name="eaCode">&nbsp;</span></h2>

    <div class="text">
        <div class="validation-summary display-none">
            <p>Some questions have not been answered correctly.<br />Please see the errors below.</p>
        </div>
    </div>

    <form action="contributions-and-payment" method="get" class="form form-to-validate" id="make-payment-form" novalidate="novalidate">

        <div class="form-item-wrapper error-layer">
            <div class="inline-form-groups">
                <fieldset>
                    <legend class="form-label-bold">What month is this payment for?</legend>
                    <p class="form-hint">For example February 2017</p>
                    <p class="validation-message display-none">Please fill in a valid date</p>
                    <div class="form-group">
                        <label class="form-label" for="contribution-month">Month</label>
                        <input class="form-control form-control-11-chars get-cookie validate-text-input" id="contribution-month" type="text" maxlength="11" data-cookie-name="payingMonth">
                        <script type="text/javascript">
                            typeAheadList = [
                                'January',
                                'February',
                                'March',
                                'April',
                                'May',
                                'June',
                                'July',
                                'August',
                                'September',
                                'October',
                                'November',
                                'December'
                            ]
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contribution-year">Year</label>
                        <input class="form-control form-control-4-chars validate-text-input" id="contribution-year" value="2017" type="tel" min="0">
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="inline-form-groups error-layer">
            <div class="form-groups validate-radio-input" data-validate-radio-input="schedule">
                <fieldset>
                    <legend class="form-label-bold">Do you want change collection date?</legend>
                    <p class="form-hint label-like">This is currently 16 February 2017</p>
                    <p class="validation-message payments-error-message display-none">Please pick an option to continue</p>
                    <div class="form-group">
                        <label class="nhsbsa-radio js-toggle" for="schedule-payments" data-show="#schedule-payments-panel">
                            <input type="radio" name="schedule" id="schedule-payments" value="yes" />
                            <span class="input-text">Yes</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="nhsbsa-radio js-toggle" for="do-not-schedule-payments" data-hide="#schedule-payments-panel">
                            <input type="radio" name="schedule" id="do-not-schedule-payments" value="no" checked="checked" />
                            <span class="input-text">No</span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>



        <div class="js-hidden hidden-panel panel-indent" id="schedule-payments-panel">

            <div class="form-item-wrapper error-layer">
                <div class="inline-form-groups">
                    <fieldset>
                        <legend class="form-label-bold">When do you want to pay?</legend>
                        <p class="form-hint">For example 19 December 2016</p>
                        <p class="validation-message display-none">Please fill in a valid date</p>
                        <div class="form-group">
                            <label class="form-label" for="collection-day">Day</label>
                            <input class="form-control form-control-2-chars" id="collection-day" type="text" min="0" max="31">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="collection-month">Month</label>
                            <input class="form-control form-control-11-chars typeahead" id="collection-month" type="text" maxlength="12">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="collection-year">Year</label>
                            <input class="form-control form-control-4-chars" id="collection-year" type="text" min="0">
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>


        <div class="staffgps form-item-wrapper error-layer">
            <div class="form-groups validate-radio-input" data-validate-radio-input="relates">
                <fieldset>
                    <legend class="form-label-bold label-like">Contribution payment</legend>
                    <p class="validation-message display-none">You need to pick an option to continue</p>
                    <div class="inline-form-groups">
                        <div class="form-group">
                            <label class="nhsbsa-radio" for="staff">
                                <input type="radio" name="relates" value="staff" id="staff">
                                <span class="input-text">Staff</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="nhsbsa-radio" for="gps">
                                <input type="radio" name="relates" value="gps" id="gps">
                                <span class="input-text">GPs</span>
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

        <div class="form-item-wrapper">
            <div class="form-group">
                <button class="button">Next step</button>
            </div>
        </div>

    </form>

    <div class="pagination-simple">
        <div class="back-link">
            <a href="#" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Previous page</span>
            </a>
        </div>
    </div>

</div>

{% endblock %}


