{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %} Page cannot be found {% endblock %}

{% block afterHeader %}
{% include "nhsbsa/includes/financial-information-collection.html" %}
{% endblock %}

{% block content %}

<div id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">This page cannot be found</h1>

            <p>Please check that you have entered the correct web address, or go to NHS Pension <a href="start">Financial Information Collection</a> start page.</p>


        </div>

    </div>

</div>

{% endblock %}

