{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %} Select an Employing Authority code (EA) {% endblock %}

{% block afterHeader %}
{% include "nhsbsa/includes/financial-information-collection.html" %}
{% endblock %}

{% block content %}

<div id="content" role="main" class="demo-only add-log-out">

    <div class="back-nav" role="navigation">
        <a class="top-back-button back-to-previous" href="#">Back</a>
    </div>

    <h1 class="heading-xlarge">Employing Authority Contributions</h1>

    <div class="page-search">
        <label for="ea-code">Search for an Employing Authority (EA) code</label>
        <form action="searched-ea" method="get">
            <input type="text" id="ea-code" value="" class="form-control" max="10">
            <button type="submit"><span class="visuallyhidden">Search</span></button>
        </form>
    </div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data-table stack-table wide-table hoverable-table">
        <tbody>
        <tr>
            <th scope="col">History</th>
            <th scope="col">Organisation</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA5955" data-cookie-name="eaCode">EA5955</a></td>
            <td>Hesketh House, Fleetwood</td>
            <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA5955" data-cookie-name="eaCode">Submit</a></td>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA2331" data-cookie-name="eaCode">EA2331</a></td>
            <td>Stella House, Newcastle</td>
            <td class="centered-item"><span class="service-status submitted">submitted</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA2331" data-cookie-name="eaCode">Edit</a></td>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA4411" data-cookie-name="eaCode">EA4411</a></td>
            <td>Random House Name, Liverpool</td>
            <td class="centered-item"><span class="service-status submitted">submitted</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA4411" data-cookie-name="eaCode">Edit</a></td>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA2911" data-cookie-name="eaCode">EA2911</a></td>
            <td>Random Trust Name, London</td>
            <td class="centered-item"><span class="service-status completed">completed</span></td>
            <td>
                &nbsp;<!--<a href="make-payment" class="set-cookie" data-cookie-value="EA291" data-cookie-name="eaCode">View</a>-->
            </td>
        </tr>

        <tr class="hoverable">
            <td>EA3008</td>
            <td>NHS Cheetham Health Centre, Manchester</td>
            <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA3008" data-cookie-name="eaCode">Submit</a></td>
        </tr>




        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA5000" data-cookie-name="eaCode">EA5000</a></td>
            <td>Random Hospital, Rochdale</td>
            <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA5000" data-cookie-name="eaCode">Submit</a></td>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA8280" data-cookie-name="eaCode">EA8280</a></td>
            <td>Another Random Trust Name, Liverpool</td>
            <td class="centered-item"><span class="service-status completed">completed</span></td>
            <td>
                &nbsp;<!--<a href="make-payment" class="set-cookie" data-cookie-value="EA291" data-cookie-name="eaCode">View</a>-->
            </td>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA9143" data-cookie-name="eaCode">EA9143</a></td>
            <td>Marie Curie Cancer Care</td>
            <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA9143" data-cookie-name="eaCode">Submit</a></td>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA1195" data-cookie-name="eaCode">EA1195</a></td>
            <td>Another Trust in Fleetwood</td>
            <td class="centered-item"><span class="service-status outstanding">outstanding</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA1195" data-cookie-name="eaCode">Submit</a></td>
        </tr>
        <tr class="hoverable">
            <td><a href="previous-payments#previous-contributions-table" class="set-cookie" data-cookie-value="EA3000" data-cookie-name="eaCode">EA3000</a></td>
            <td>Made Up Name Trust, Manchester</td>
            <td class="centered-item"><span class="service-status submitted">submitted</span></td>
            <td><a href="make-payment" class="set-cookie" data-cookie-value="EA3000" data-cookie-name="eaCode">Edit</a></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <div class="pagination-details">
            <p>Showing 1 - 10 of 44 records</p>

        </div>
        <ul class="pagination-pages">
            <li class="active">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
        </ul>
    </div>


    <div class="pagination-simple">
        <div>
            <a href="login" class="link">
                <span class="prefix">Back:</span>
                <span class="title">Employer sign in</span>
            </a>
        </div>
    </div>

</div>

{% endblock %}

