{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %} Sorry, you'll have to start again {% endblock %}

{% block afterHeader %}
{% include "nhsbsa/includes/financial-information-collection.html" %}
{% endblock %}

{% block content %}

<div id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">Sorry, you'll have to start again</h1>

            <p>Your session automatically ends if you don't use the service for 30 minutes</p>
            <p>We do this for your security. We haven't saved any personal information you entered</p>

            <a class="button button-get-started" href="start">Start again</a>


        </div>

    </div>

</div>

{% endblock %}

