{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %} NHS Financial Information Collection {% endblock %}

{% block afterHeader %}
{% include "nhsbsa/includes/financial-information-collection.html" %}
{% endblock %}

{% block content %}

<div id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Submit your monthly NHS Pension Scheme Contributions</h1>

            <p>Use this service to:</p>

            <ul class="list-bullet">
                <li>submit your employee and employer contributions</li>
                <li>submit any adjustments from previous months</li>
                <li>view previously submitted contributions</li>
            </ul>

            <a class="button button-get-started" href="login">Start now</a>

        </div>

        <div class="column-third">

            <div class="sidebar">

                <div class="sidebar-box">
                    <h3 class="heading-medium">Related information</h3>
                    <ul>
                        <li><a href="http://www.nhsbsa.nhs.uk/Pensions/4078.aspx" target="_blank">NHSBSA Employers Hub</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}

